[2015-09-20 17:28] jippi opened #1 "name change?"
There is another wildly popular piece of open source software from mesos called chronos as well...  ( https://github.com/mesos/chronos )

Maybe we should consider another name to avoid google clashes?

[2015-09-20 17:31] lorenzo commented on #1
If you have suggestions we would be interested to know. Nowadays any non-random string will clash with another project. We were actually aware of that cron library before we picked the name, but decided the reals are different enough so it wouldn't be a problem

[2015-09-20 19:56] josegonzalez commented on #1
`DateTime` is a good one.

[2015-09-20 19:57] dereuromark commented on #1
@josegonzalez Too easy to confuse with the PHP core one IMO. I think Chronos is just fine.

[2015-09-20 21:48] jadb commented on #1
I agree with @jippi about trying to avoid google clashes - but if we can't well so be it, chronos is nice anyways.

Here are some suggestions:

- term
- era
- pace

[2015-09-20 21:50] jadb commented on #1
After I typed this I thought that as @lorenzo mentioned any name would clash so we users would end up anyways having to use at least 'php' (maybe even 'cakephp') to narrow their search results (which would work the same for chronos).

[2015-09-21 00:19] josegonzalez commented on #1
Chronos is good then, lets keep it. Last thing we need to be arguing about is naming.

[2015-09-21 02:10] markstory commented on #1
Epoch is another good time related name. It hasn't been [grabbed on packagist](https://packagist.org/search/?q=epoch) yet either.

[2015-09-21 02:20] josegonzalez commented on #1
Okay epoch do it

[2015-09-21 03:12] ADmad commented on #1
Chronos sounds better to me :)  I don't think a lib with same name in a different language should cause any confusion.

[2015-09-22 22:57] #1 closed

[2015-09-26 18:20] dereuromark opened #10 "Make subMonth work correctly"
See https://github.com/briannesbitt/Carbon/issues/428

I think it is worth fixing the faulty (unintuitive) behavior of PHP, and making subMonth() work as expected.
To make sure the former behavior can also be used if desired, we could provide a method `addMonthsExact()` or `addMonthsOverflow()`.

What do you think?
Since the lib is new we do have the change to do that without breaking user land co

[2015-09-26 22:43] lorenzo commented on #10
When hitting the overflow, what should be the day of the month at the end of the operation? The last day of the month?

[2015-09-27 01:07] markstory commented on #10
@lorenzo Yes. Having dealt with this shenanigans at work, going to the end of the month is what our customers expected.

[2015-09-27 06:57] lorenzo commented on #10
Sounds good, I can take care of this

[2015-09-27 15:35] markstory opened #12 "RFC - Split up DateTimeTrait into smaller traits"
The current DateTimeTrait is over 2000 lines long. I was wondering if people would be up to splitting up the mega trait into a few smaller traits. I see a few types of methods:

* Formatting methods. (toRssString) etc.
* Modifiers (endOfWeek, startOfDay, addSecond, addMinute, lastOfMonth) etc.
* Comparisons (isToday, isThisYear, isThursday) etc.
* Operators (eq, neq, lt, lte, gt, gte)
* Timezones

[2015-09-27 15:39] markstory opened #13 "RFC - Add a Calendar date object"
One of the issues we've heard a bunch of times with the ORM is that DATE columns are mapped to datetime instances. While we can't completely avoid that, we could make a 'calendar' date object. This object would differ from the datetime instance in a few ways:

* The time methods would be removed or raise errors.
* The time mutators would raise errors or not exist. Including the methods and raising

[2015-09-27 15:40] dereuromark commented on #12
Great idea!

[2015-09-27 15:56] markstory opened #14 "Add API docs to api.cakephp.org"
We'll need to figure out how to get some public facing API docs for this project before 1.0.

I'm thinking something like http://api.cakephp.org/chronos/1.0/* as a URL.  This might also be a way to add API docs for migrations, bake, and elasticsearch.

[2015-09-27 16:04] ADmad commented on #14
Sounds good. Cake's docs should also probably be moved under http://api.cakephp.org/cakephp/*  which http://api.cakephp.org redirecting to latest version.

[2015-09-27 18:52] markstory commented on #14
We would have to keep the existing urls as aliases so we don't lose any google juice.

[2015-09-27 19:38] lorenzo commented on #12
Makes sense to me

[2015-09-28 08:11] HavokInspiration commented on #13
Good idea.
I often had to manipulate "calendar" date and having something dedicated to that would be super nice.

As for the various points, I'd rather have errors raised rather than methods removed. I think that would avoid confusion to have a clear error message stating that the methods can't be used and that if the "time component" is needed, the wrong object is being used.

[2015-09-28 08:12] lorenzo commented on #13
:+1:

[2015-09-28 13:30] markstory commented on #13
@HavokInspiration Ok. Given the scope of the chronosinterface, we'll need to raise exceptions anyways.

[2015-09-28 14:48] HavokInspiration commented on #13
@markstory All good then ! (I just checked the ChronosInterface... It is quite lengthy).

[2015-09-29 07:12] robertpustulka commented on #13
BTW It's rather not very OOP to have interfaces over 1000 lines long...

[2015-09-29 08:13] lorenzo commented on #13
I'm not sure it is a good idea to throw exceptions in those methods. If we do then we need to make every other class aware of the differences between a normal datetime and a calendar date.

[2015-09-29 19:57] markstory commented on #13
@robertpustulka DateTimes are all knowing all powerful objects :wine_glass:

[2015-09-29 22:58] #10 closed

[2015-09-30 11:53] robertpustulka commented on #13
@markstory I was thinking that maybe we could split ChronosInterface into TimeInterface and CalendarInterface, but what about compatibility with DateTimeInterface then?
Need to remind myself that PHP5 is not very OOP either :)

[2015-09-30 16:48] markstory commented on #13
Breaking interfaces up might be an option. Once I'm done splitting the megatrait up, I'll get started on this.

[2015-10-09 02:12] markstory commented on #12
Finished with #21

[2015-10-09 02:12] #12 closed

[2015-10-10 12:21] dereuromark opened #23 "Failing tests in WIN OS"
For fun I tried it on WIN OS:

There were 2 failures:
[code]

Shall we modify the expectation for this to pass?

[2015-10-10 12:45] jippi commented on #23
are you sure it just isn't time drift inside the tests?

[2015-10-10 12:50] dereuromark commented on #23
It is reproducable so it should be handled in some way.

[2015-10-10 14:08] markstory commented on #23
How is windows off by an order of magnitude? Are you on a 32bit install?

[2015-10-10 15:20] dereuromark commented on #23
Its 64 bit I tested it on, Win8.

[2015-10-11 14:32] ndm2 commented on #23
**https://github.com/cakephp/chronos/blob/master/src/FactoryTrait.php#L114**

`PHP_INT_SIZE` will either be `4` (32-Bit) or `8` (64-Bit), but never `32`. So this will always choose the latter expression. And since on Windows even the 64-Bit PHP doesn't actually support 64-Bit integers, `PHP_INT_MAX / 10` will return `214748364.7`.

[2015-10-11 19:44] dereuromark commented on #23
What do you propose? checking in Win OS and hardcoding PHP_INT_SIZE to 4 then to be safe?

[2015-10-11 20:03] ndm2 commented on #23
There should be no need test for the OS (in case that's what you were referring to), just comparing against `4` should do it. On Windows the 64-Bit PHP will return `4`, so this should work fine.

[2015-10-11 20:08] #23 closed

[2015-10-12 15:13] dereuromark opened #29 "Remove useless aliases"
Do we really need those (redundant) aliases?

[code]

I would remove them in favor of their original properties/methods.

//EDIT
It seems they are used for some reason. Removing them makes quite a few of tests failing (renaming dayz to days)...

[2015-10-12 17:47] HavokInspiration commented on #29
In which context are they used ? What is the purpose of using them instead of the original methods ?

[2015-10-12 20:43] markstory commented on #29
The methods ending in z should probably be removed - tests included.

[2015-10-12 20:48] dereuromark commented on #29
@HavokInspiration That if I knew ;)

@markstory I agree.
I will post the diff tomorrow, but the test results so far aren't promising

[2015-10-12 21:09] dereuromark opened #31 "Switch to ISO-8601 for weekday"
See https://github.com/briannesbitt/Carbon/pull/214

We should do this before releasing a beta.

[2015-10-12 21:16] dereuromark opened #33 "Allow for more expressive comparisons"
It's easier to quickly understand a line of code by reading `->greaterThan()` than `->gt()`.

I think we should use the non abbr version, and remove the shortcuts.
Less obfuscation.

Refs https://github.com/briannesbitt/Carbon/pull/446

So renaming:

    eq() => equalTo()
    ne() => notEqualTo()
    gt() => greaterThan()
    lt() => lessThan()
    gte() => greaterThanOrEqualTo()
    lte() => less

[2015-10-12 21:19] dereuromark opened #34 "Fix start/end of century"
Issue https://github.com/briannesbitt/Carbon/pull/398

The 1st century AD/CE started on January 1, 1 and ended on December 31, 100.
https://en.wikipedia.org/wiki/Century

[2015-10-13 08:54] dereuromark commented on #29
See https://github.com/cakephp/chronos/compare/feature/remove-aliases
The tests don't seem to like it.

[2015-10-13 09:31] dereuromark commented on #29
These are the results: https://travis-ci.org/cakephp/chronos/jobs/85077565

[2015-10-13 09:41] #31 closed

[2015-10-13 13:47] markstory commented on #29
So I took a look at this, and I think its caused by DateInterval having a `days` property that means something totally different from how we want to use it.

[2015-10-13 13:58] dereuromark commented on #29
Interesting. Whats your solution on this then? Keeping the strange dayz thing?

[2015-10-13 16:08] dereuromark commented on #13
How about having Time and Date then as classes?

[code]
so Chronos class itself => rename to Time, adding Date, both extending \DateTime then.
That would also get rid of the double name in `use Cake\Chronos\Chronos` and make it more clear what those two splits refer to.

[2015-10-14 01:10] markstory commented on #29
The internal storage is `$this->d` only the public interface has `dayz`.

[2015-10-14 01:11] markstory commented on #13
I think DateTime and Date are reasonable classes to have. A Time only class is less useful in my mind, as it implies the class would only manage clock time (without a date aspect).

[2015-10-14 01:12] markstory commented on #33
Closing as there is a pull request open now.

[2015-10-14 01:12] #33 closed

[2015-10-14 07:43] dereuromark commented on #13
We (in CakePHP core) also have a Time class and it is pretty clear to all that it also manages Date along with the Time. It would be less confusing than having a DateTime besides the core one maybe?

[2015-10-16 01:06] #34 closed

[2015-10-25 01:01] markstory commented on #14
Pull request up for the API docs cakephp/cakephp-api-docs#38. Once merged, I'll need to do some jenkins work.

[2015-10-25 19:30] #13 closed

[2015-10-27 00:26] markstory commented on #14
Done now.

[2015-10-27 00:26] #14 closed

[2015-10-28 09:53] dereuromark opened #44 "ISO 8601: Missing colon in timezone"
Shouldn't the toIso8601String() method have an colon between the hours and minutes in the timezone part?
1975-12-25T14:15:16-0500 becomes 1975-12-25T14:15:16-05:00

Spec: http://www.w3.org/TR/NOTE-datetime

Refs https://github.com/briannesbitt/Carbon/issues/451

[2015-10-28 14:03] markstory commented on #44
We're using the [PHP constant](http://php.net/manual/en/class.datetime.php#datetime.constants.iso8601) The chances of that being wrong seem pretty low.

[2015-10-28 14:05] dereuromark commented on #44
There is a note below that linked documentation:

[2015-10-28 14:05] dereuromark commented on #44
So either we fix it ourselves (add the colon) or should promote using the outlined formats.

[2015-10-28 14:10] ADmad commented on #44
Heh, so someone made a mistake initially and instead of fixing it they decided to stick with it. PHP is full of funnies.

[2015-10-29 00:52] markstory commented on #44
Bloody Hell. Well, we can use ATOM instead of ISO8601

[2015-10-29 03:26] markstory commented on #44
Pull request up.

[2015-10-29 03:26] #44 closed

[2015-11-04 16:32] dereuromark opened #48 "Port: Add closest/farthest function"
To allow easier porting for those coming from Carbon, it is probably wise to include
https://github.com/briannesbitt/Carbon/pull/460

    public function closest(Chronos $dt1, Chronos $dt2)

    public function farthest(Chronos $dt1, Chronos $dt2)

[2015-11-04 16:33] dereuromark opened #49 "Port: setTimeFromTimeString()"
To allow easier porting for those coming from Carbon, it is probably wise to include
https://github.com/briannesbitt/Carbon/pull/452

    setTimeFromTimeString($time)

[2015-11-06 14:02] dereuromark commented on #49
PR is now open.

[2015-11-06 14:02] #49 closed

[2015-11-06 20:59] #48 closed

[2015-11-12 09:56] dereuromark opened #54 "addWeekday(s) clears time"
Check if
https://github.com/briannesbitt/Carbon/commit/d02c4136c3300e5044226e5be8fcfc5b4b6fc272
needs to be applied

Refs https://github.com/briannesbitt/Carbon/issues/419

[2015-11-19 10:47] lorenzo commented on #54
@dereuromark would you like to copy the fix from them?

[2015-11-22 16:04] dereuromark commented on #54
It seems that their fix only was for addWeekday. addWeekdays as well as the sub methods also need fixing i guess.
Additionally, the fixes cannot be applied without some modification for us: https://github.com/cakephp/chronos/compare/master-weekday
Tests failing.

[2015-11-22 17:11] markstory commented on #54
@dereuromark Those changes seem reasonable. For the immutable objects, you'll need to capture the return of `modify()` and chain off of that instead.

[2015-11-22 19:29] dereuromark commented on #54
You are absolutely right. Done :)

[2015-11-24 15:10] #54 closed

[2015-12-03 16:56] dereuromark opened #62 "Find out if we can/need to workaround PHP bug"
See https://github.com/briannesbitt/Carbon/issues/539 and https://bugs.php.net/bug.php?id=63863

DateTime:setDate() date not used after modify("last day of...")

[2015-12-03 17:10] HavokInspiration commented on #62
Apparently there is a simple workaround given at the end of the PHP bug tracker ticket : https://bugs.php.net/bug.php?id=63863#1446180347

(Last comment).
Maybe it is worth trying it ?

[2015-12-03 17:17] dereuromark commented on #62
Wasnt there already some simililar issue - like in https://github.com/cakephp/chronos/pull/58/files ?

[2015-12-04 00:49] nicholas-eden commented on #62
I can verify that the workaround mentioned in that bug report works:
https://github.com/briannesbitt/Carbon/pull/542/files

[2016-01-04 14:41] dereuromark opened #71 "RFC Datetime and Date class name"
The more I use it and think about it the more sense it would make to have a consistent naming scheme for the class names.
[code]

Afaik the only reason was namespace clashing/confusion.
But with all the other 3 classes around I think the confusion is rather internal now, with Chronos not just as namespace but also as class name sticking out here.
`Chronos` also does not say anything about the type

[2016-01-04 14:43] lorenzo commented on #71
That could potentially be painful for end users, since using both \DateTime and Chronos\DateTime in the same class would require aliasing.

[2016-01-04 14:46] dereuromark commented on #71
And the other 3 don't have a core PHP counterpart you mean?

[2016-01-04 14:53] lorenzo commented on #71
Yeah, that's what I mean... In general I don't like class names to be repeated, even if we have namespaces, because reading the code becomes more difficult

[2016-01-04 14:56] dereuromark commented on #71
In that case pre- or suffixing is usually the way to go, but `ChronosDateTime` could become a little bit much to write maybe?

[2016-01-04 15:53] josegonzalez commented on #71
What about:

[code]

That way users that want to just use the Chronos version can, and all others can use the Chronos name.

[2016-01-04 15:54] dereuromark commented on #71
That sounds like a fair (and BC) compromise.

[2016-01-09 07:48] antograssiot commented on #71
PR #74 is open so discution can take place there.

[2016-01-09 07:48] #71 closed

[2016-01-21 13:36] dereuromark opened #75 "5 digit years"
I doubt anyone will need this, but to be compatible to Carbon as documented, we should check into
https://github.com/briannesbitt/Carbon/pull/586

[2016-02-01 10:11] nyamsprod opened #76 "Chronos Date can be corrupted by PHP DatePeriod"
The time for the `Chronos\Date` objects is corrupted by `DatePeriod`.

Here's a simple script to reproduce the bug:

[code]

I expected either :

[code]

or an **exception** to be thrown but I got this instead

[code]

[2016-02-01 17:07] markstory commented on #76
Nice find! I'll take a look.

[2016-02-02 17:06] nyamsprod opened #77 "Chronos\Date breaks DateTimeImmutable expected behaviour"
As the author of the [League\Period](http://period.thephpleague.com/) library, I tried to test the Chronos package against my library, which is a single PHP class, [League\Period\Period](https://github.com/thephpleague/period/blob/master/src/Period.php). I'm having a issue which the fact that `Chronos\Date` object extends `DateTimeImmutable` object.
### The issue

Here's a simple example:

The `Pe

[2016-02-02 17:26] dereuromark opened #78 "Add serialize function"
Refs https://github.com/briannesbitt/Carbon/pull/600

If that gets merged, we should also implement this.

[2016-02-02 23:17] markstory commented on #77
What kind of results would you expect if you split 'dates' into 12hr periods? It feels like a mismatch in intentions to me.

[2016-02-03 00:39] josegonzalez commented on #77
@nyamsprod what *should* that `\Cake\Chronos\Date` object extend? IIRC, there isn't a `\Date` class in PHP, so extending `DateTime*` and calling it `Date` to denote it's usage seems reasonable to me.

[2016-02-03 08:08] nyamsprod commented on #77
@markstory @josegonzalez The real issue is typehinting. Let's look at a simpler example:

[code]
I expect this function to only accepts `DateTimeImmutable` objects or objects extending it. And I expect the function to return me a `DateTimeImmutable` object or the object extending it with the added Interval because this is what `DateTimeImmutable::add` is supposed to do.

`Cake\Chronos\Date` by ext

[2016-02-03 08:29] josegonzalez commented on #77
@nyamsprod We'd have to re-implement basically all of the DateTimeImmutable functionality in PHP to get what we'd need for the `Cake\Chronos\Date` functionality.

I agree that it sucks that a developer can misuse the functionality because they expected the `add` method to work like it does in `DateTimeImmutable`. In this case however, the specific class is working as intended/designed, as it is a

[2016-02-03 08:45] nyamsprod commented on #77
@josegonzalez Yes it does but that's not the issue.

The real issue is that currently **`Cake\Chronos\Date` pretends to be something it is not.** PHP's typehinting feature which is the root of any modern code is completely disregarded. It means that I can neither safely use nor recommend the library to anyone.

[2016-02-03 09:05] josegonzalez commented on #77
I think we can both agree that re-implementing 90% of the php `DateTime` class just so we can strip out the `Time` portion is undesirable - we're almost certainly going to have bugs, suffer from (maybe only slightly) worse performance, and not be able to make as many guarantees about functionality.

That said, given that we cannot otherwise detect this - since its a programmer error at run-time -

[2016-02-03 10:17] nyamsprod commented on #77
I use Period to generate some reporting using Cake\Chronos\Date seemed to fit my script logic. So for the time being I'll revert to using Cake\Chronos\Chronos

[2016-02-03 12:59] nyamsprod opened #79 "Chronos\ChronosInterface usefulness"
[code]

If a `Cake\Chronos\Chronos` object is given to the function returns a new `Cake\Chronos\Chronos` because this object is immutable

If a `Cake\Chronos\MutableDateTime` object is given to the function will modify the object and return a reference to it because it is mutable

So you can not safely typehint against the `Cake\Chronos\ChronosInterface` and be safe regarding
- the input being cha

[2016-02-03 17:50] josegonzalez commented on #77
Which of the above options would you prefer we do? `ChronosInterface` exists so we can typecheck as to whether or not the object coming in is a type of Date/DateTime object from the Chronos package, and we would use a more specific typehint where necessary.

[2016-02-03 17:51] josegonzalez commented on #79
As I mentioned before:

Maybe we should have a `MutableChronosInterface` and `ImmutableChronosInterface` as well, so you can check both that the object inherits from the Chronos package as well as it's mutability?

[2016-02-03 18:46] nyamsprod commented on #79
A simpler solution would be to copy `DateTimeInterface` (ie: to only put non modifying methods in the common interface). This way you get to safely typehint against it;

Each class modifying method behaves differently even if they share the same name so I see no added value to have them in the interface. (ie: `Chronos::add` != `MutableDateTime::add` != `Date::add` != `MutableDate:add`)

[2016-02-03 19:17] nyamsprod commented on #77
I would go with

[2016-02-03 20:39] josegonzalez commented on #77
Awesome! Do you mind making a PR that implements this functionality?

[2016-02-04 03:17] markstory commented on #79
The main goal with the ChronosInterface was to allow separation between native DateTime objects and enriched ones like @josegonzalez mentioned.

I can see how the current interface hints don't allow you to ensure immutability though. What do you think of having a few more 'marker' interfaces:

* `Cake\Chronos\ImmutableInterface` - For the immutable variants.
* `Cake\Chronos\MutableInterface` - For

[2016-02-04 12:08] nyamsprod commented on #79
I think that:

- `Cake\Chronos\ChronosInterface` should only contains **non modifying methods**
- `Cake\Chronos\ChronosInterface` should not extend `DateTimeInterface`
- A `Cake\Chronos\DateInterface` should be added that mimics `DateTimeInterface` methods

which results on:

- `Chronos` implementing `DateTimeInterface` and `ChronosInterface`
- `MutableDateTime` implementing  `DateTimeInterface` a

[2016-02-04 12:11] nyamsprod commented on #77
@josegonzalez I have my hands full with other open source projects right now, I would otherwise, but thanks for the offer

[2016-02-04 17:49] markstory commented on #79
I think that interface breakdown makes sense.

I was thinking more about interfaces for immutable/mutable differences earlier today, and I'm not sure it makes sense to have them. Even in a fully static type system the return types of both mutable and immutable objects would be the same, so there would be no violation of the interface methods. For example `add()` in both mutable/immutable cases wou

[2016-02-04 20:40] lorenzo commented on #77
The Date class needs to extends DatetimeImmutable, since it cannot implement it by itself due to PHP language restrictions

[2016-02-04 21:39] nyamsprod commented on #77
@lorenzo I'll quote [Cake's documentation on Chronos](http://book.cakephp.org/3.0/en/chronos.html#date-objects):

As you can see, the documentation goes as far as explaining why it is a bad idea to use a DateTime object to represent a day. So, if I were to follow the documentation intent I would expect the `Date` and the `MutableDate` classes to not implement the `DateTimeInterface` as this interf

[2016-02-05 13:54] nyamsprod commented on #79
@markstory the real question we should ask ourselves is what is the goal of the `Cake\Chronos\Date` class. Once you figure it out and layout its real public API (interface) then you will be able to determine if adding the `DateTimeInterface` to it make sense or not.

Currently I have the feeling it was conceive the other way around. `DateTimeInterface` and its implementations were taken for grante

[2016-02-06 03:09] markstory commented on #76
I'm not sure this can be fixed. I took a [look at the php-src](https://github.com/php/php-src/blob/c343d3fae5e36d36d73ca40bf19607879c7783ff/ext/date/php_date.c#L1877-L1897). From what I can understand it looks like the internals of `DatePeriod` creates new instances and directly assigns private properties.

Outside of breaking compatibility with `DatePeriod` by not extending `DateTime` I don't kno

[2016-02-06 03:11] markstory commented on #78
Not sure if we should be doing anything here. Sounds like an HHVM issue.

[2016-02-06 19:48] markstory commented on #62
Pull request open now.

[2016-02-06 19:48] #62 closed

[2016-02-06 19:53] markstory commented on #79
@nyamsprod The intention/goal of `Date` was to provide the familiar `DateTime` interface but constrain the valid set of values to calendar dates. I wanted to keep as much compatibility as possible with `DateTime` so that dates and datetimes could be used interchangeably in most situations. I also had the larger goal of resolving a long standing issue in `cakephp/orm` where SQL date columns were ma

[2016-02-13 18:14] markstory opened #81 "FrozenDate::createFromTimestamp doesnt use timezone correctly"
_From @Graziel on February 13, 2016 3:47_

[code]
Gives:
[code]

but if im using
[code]
it gives correct result also while switching to \I18n\Date gives me

[code]

and again using
[code]

gives correct results

@markstory reminder "I bet I missed 'correcting' createFromTimestamp() then :)"

_Copied from original issue: cakephp/cakephp#8251_

[2016-02-13 18:14] markstory commented on #81
I'll take a look. This might be an issue in cakephp/chronos.

[2016-02-13 18:17] markstory commented on #81
Closing as a pull request is up now.

[2016-02-13 18:17] #81 closed

[2016-02-15 20:10] dereuromark opened #83 "Add Semester"
Refs https://github.com/briannesbitt/Carbon/pull/611

to be API compliant.

[2016-02-15 21:09] markstory commented on #83
I dunno about 'semester'. In Canada we have 3 semesters not 2.

[2016-02-15 21:11] dereuromark commented on #83
Please see https://en.wiktionary.org/wiki/semester
The technical term is from latin and refers to 6 months, those in canada should probably be called trimester :)
Anyway, if we don't like it we should probably downvote them in Carbon early on to not have to shim them in the long run.

[2016-02-15 22:28] lorenzo commented on #83
Yeah, unfortunately semester can have different meanings depending on the culture.

[2016-02-16 22:51] jadb commented on #83
@markstory, aren't those period more akin to the collegial naming? Or is this like a standard for defining these specific 4-months period length?

Side note, in french (`semestre`), refers to a 6 months period too.

[2016-02-17 01:50] markstory commented on #83
I'm ok with being wrong on this one :smile: If 'semester' has a common meaning I'm :+1: for including it.

[2016-02-17 15:52] jadb commented on #83
I never said I was right! :wink: I ask because you are more knowledgeable of Canadian standards and I wanted to learn :smile:.

[2016-02-17 16:23] ADmad commented on #83
I believe the most common time period for semester would be 6 months.

[2016-03-02 05:21] hecerinc opened #84 "Set locale for diffForHumans"
I've been trying to get locale-specific strings for `diffForHumans` à-la Carbon, but can't seem to get it to work. Is this feature implemented?. Tried `I18n:locale()` and PHP's `setlocale` but no good.

[2016-03-02 18:29] lorenzo commented on #84
What language are you missing? Currently the repo only contains the translations for english and all the infrastructure to offer you own translations. We could investigate porting the translated strings out of carbon

[2016-03-02 22:06] hecerinc commented on #84
I was looking for Spanish... I'll take a look into it and submit a PR if possible

[2016-03-09 15:29] tomgrenville opened #85 "warnings aren't retrieved when calling getLastErrors()"
i think i've found an small bug inside chronos where warnings aren't retrieved when calling `getLastErrors()`

i've created a gist so you can see what i mean

https://gist.github.com/tomgrenville/c03a9a6e6dec0423601c

apologies if this isn't the correct way or format to post this information!

[2016-03-09 20:15] lorenzo commented on #85
Thanks, I'll look into this

[2016-03-09 22:49] markstory commented on #85
Closing as a pull request is up now.

[2016-03-09 22:49] #85 closed

[2016-03-14 18:11] lorenzo commented on #84
@hecerinc did you need help for adding the locale?

[2016-03-16 16:07] makamo opened #89 "first day of week and week number"
Is there a way to set Sunday as the first day of the week and get the week number accordingly

i got a issu on carbon for reference

https://github.com/briannesbitt/Carbon/pull/214

[2016-03-16 18:14] lorenzo commented on #89
No, there currently no way of doing that.

[2016-04-14 20:38] wreality opened #91 "Relative string in Date constructor creates Date object with time not stripped"
Creating a new date object with a relative string in the constructor doesn't actually strip out the time component of the date object (but does correctly modify the date as otherwise expected) So something along the lines of:

[code]

Doing something like this is an OK work around:

[code]

And, hoping its helpful, here's a failing testcase for it.

[code]

[2016-04-15 11:11] markstory commented on #91
Thanks for the test case!

[2016-04-16 14:03] markstory commented on #91
Pull request open now.

[2016-04-16 14:03] #91 closed

[2016-05-18 16:16] jtrumbull opened #94 "diffInMonths not calculating based on calendar months"
This might be an issue of interpretation rather than a bug, however the difference in months is not calculating the actual number of calendar months between two dates, and is causing unexpected results.

Take the following, for example, which is comparing the last day of a month to the last day of the following month:

[code]

I would expect this to produce `1`s across the board, however it produc

[2016-05-19 01:42] markstory commented on #94
I think adding a new method might be best, as `DateTime::diff()` has a well understood if a bit wonky behavior.

[2016-05-25 11:58] berarma opened #95 "API documentation in the website is outdated"
I think the documentation at http://api.cakephp.org/chronos/1.0/ hasn't been updated in some time. For example, the MutableDate object isn't listed there.

[2016-05-25 20:42] markstory commented on #95
I've re-run the jenkins job that builds the chronos docs. I'll make sure the job is configured properly as well so it auto-updates in the future.

[2016-05-25 20:42] #95 closed

[2016-06-05 02:29] vlakoff commented on #94
It's also about [`DateInterval::format()`](http://php.net/manual/en/dateinterval.format.php), which just doesn't know the month thus the number of days.

+1 for this proposal, as it is more predictible and less surprising. I'd bend for modifying the existing method (doesn't seem breaking) rather than adding a new one (much clutter, wow).

[2016-06-05 02:39] vlakoff commented on #75
Could be very useful for archaeologists, astrophysicists, etc.

[2016-06-10 02:03] markstory commented on #75
Pull request open.

[2016-06-10 02:03] #75 closed

[2016-06-14 14:57] dereuromark opened #99 "Wrong variable"
Don't we have a test case for this?
https://github.com/cakephp/chronos/blob/master/src/Traits/DifferenceTrait.php#L294

Undefined variable. Copy and paste error it seems.
We should also write some regression tests.

[2016-06-15 02:58] #99 closed

[2016-07-22 14:58] psaintjust opened #102 "Add Time class"
Since you've already added a Date class without time components, would it make sense to include a Time class without date components (or fixed to 0000-01-01) with included Timezone support?

[2016-07-22 16:14] markstory commented on #102
A Time with a timezone might be pretty confusing. How would you represent day rollovers? For example 2pm EST converted to JST?

What kind of methods would you envision being on a class like this?

[2016-07-22 17:27] psaintjust commented on #102
Yeah, timezone wouldn't make sense for calculation especially since the date is critical.  I was envisioning the standard methods but with restrictions to remove the date components - like the Date class does with time.

[2016-07-22 21:43] markstory commented on #102
We might be able to implement [DateTimeInterface](http://php.net/datetimeinterface) but I'm not sure all the mutation methods that `DateTime` and `Chronos` offer would make sense.

[2016-07-23 11:36] psaintjust commented on #102
Are there any needs in the cake framework for a time class?

[2016-07-23 13:26] markstory commented on #102
It could be useful when mapping `time` columns. We currently map those to `Cake\I18n\FrozenTime` subclasses so maintaining backwards compatibility might be tricky unless we implement the very wide `ChronosInterface`.

[2016-08-12 08:29] dereuromark commented on #83
Yep, it sure is 6 months by default.
But closing since the original Carbon one was also closed, and therefore no need here for this edge case thing :)

[2016-08-12 08:29] #83 closed

[2016-08-16 15:12] martinbean commented on #102
One use case I have for a `Time` class is things like the duration of media. One of my side projects is a video on demand site, and it’s a real pain to constantly juggle `DateTime` instances, or work with total seconds. So if a `Time` class is introduced, I’ll ditch Carbon in a heartbeat!

[2016-08-16 17:07] markstory commented on #102
@martinbean That sounds like an interesting scenario. I'm not sure it fits along the `DateTimeInterface` though, which leads me believe we want something *else*.

[2016-10-09 17:43] dereuromark opened #104 "Possible bug with startOfWeek() etc?"
As we use the same code base we want to look into
https://github.com/briannesbitt/Carbon/pull/736/files
as a possible fix or test case for an issue related to startOfWeek().

[2016-10-09 21:54] vlakoff commented on #102
Time of day (point in time) and duration of media (length) are two different things.

[2016-10-10 00:21] markstory commented on #102
@vlakoff Agreed. PHP provides `DateInterval` which can be used to define duration/interval lengths. Its API is not very elegant for dealing with media duration though.

[2016-10-10 03:51] markstory commented on #104
Closing as I put up a pull request adding the tests from the reference carbon pull request. They appear to pass and thus I don't think we need to make code changes.

[2016-10-10 03:51] #104 closed

[2016-11-11 12:03] ADmad opened #106 "Testing: Declaration of Cake\Chronos\Traits\FrozenTimeTrait"
_From @mirko-pagliai on November 11, 2016 11:50_

This is a (multiple allowed):

* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.3.8

### What you did
For my tests, I'm just trying to load some fixtures (from cakephp core) and find records from the database, as described in the [cookbook](http://book.cakephp.org/3.0/en/development/testing.html#creating-a-test-metho

[2016-11-11 12:04] ADmad commented on #106
Looks like the signature of `DateTime::setTime()` has been changed in PHP 7.1

[2016-11-11 12:04] ADmad commented on #106
_From @mirko-pagliai on November 11, 2016 12:2_

@ADmad maybe you're right. In fact, the test fails only with PHP 7.1

[2016-11-11 19:45] markstory commented on #106
The [documentation hasn't been updated yet](http://php.net/manual/en/datetime.settime.php) :cry:

[2016-11-11 19:49] markstory commented on #106
Pull request up now.

[2016-11-11 19:49] #106 closed

[2016-11-23 21:30] dereuromark opened #109 "setTestNow() to be able to parse a string"
Follow ~~https://github.com/briannesbitt/Carbon/pull/818~~ https://github.com/briannesbitt/Carbon/pull/847

[2016-12-08 18:18] shadowhand opened #111 "Date object fails when loaded with microseconds"
[code]

Expected output:

[code]

Despite being "dates only", the result is `false` because `$finished` includes microseconds that make it "later" than the due date.

[2016-12-08 19:05] lorenzo commented on #111
is this php 7.1?

[2016-12-08 19:34] shadowhand commented on #111
No, PHP 5.6.

[2016-12-09 05:44] markstory commented on #111
Closing as a pull request is up now.

[2016-12-09 05:44] #111 closed

[2016-12-21 05:56] rubenrangel opened #114 "Negative ChronosIntervals do not prepend a '-' in _toString()"
Negative durations can exist. This PR uses the `invert` property from `DateInterval` to determine whether a negative sign should be prepended.

[2016-12-21 08:20] lorenzo commented on #114
Closing as there is a PR open

[2016-12-21 08:20] #114 closed

[2016-12-21 21:03] dereuromark commented on #78
I agree.

[2016-12-21 21:03] #78 closed

[2016-12-30 16:40] mvrhov opened #116 "Please don't stripp microseconds as this is wrong behaviour."
#112 is a wrong fix for #111 as striping microseconds is just plain wrong.
I'm integrating chronos into a pomm and the test suite fails when using ChronosWhere the tests with DateTime will pass. And I'm testing this on 7.0

The 2nd issue is that stripping them also strips TZ info.

[code]

[2016-12-30 18:36] markstory commented on #116
microseconds are only stripped when creating `Date` instances which have no time components at all. `Chronos` doesn't invoke this method at all, there must be a different issue.

[2016-12-30 19:11] markstory commented on #116
I added a passing test in  0c3ad86b903182470575bc9d2d1c8f52b6784537 that covers the problem you're having. Are you using `Cake\Chronos\Date` by any chance?

[2016-12-31 12:25] mvrhov commented on #116
I'm sorry, but it seems that I had an hard to find error when I adapted the tests to also support Chronos. Thanks for prompt support.

[2016-12-31 12:25] #116 closed

[2017-01-04 20:50] tm1000 commented on #84
This is actually the one thing I need for my project. My project supports multiple languages so it would be nice to get that setLocale function from Carbon (http://carbon.nesbot.com/docs/#api-localization) back with the translated strings. I would be willing to work on it..

[2017-01-04 20:53] tm1000 commented on #84
It looks like all I need to do is change Translator::$strings. I can actually present that to my translators if you think thats maybe a better way to go instead of migrating the translations from Carbon..... but... the work was already done...

[code]

[2017-01-11 20:33] lorenzo commented on #84
@tm1000 that looks like a good plan to me! Sorry for the late response

[2017-01-12 17:50] dereuromark opened #119 "Add isNext / isLast"
Follow https://github.com/briannesbitt/Carbon/pull/846
to be more API upgrade consistent coming from Carbon to Chronos in the future.

[2017-01-13 09:41] dereuromark opened #120 "setTestNow() to be able to parse a string."
Follow https://github.com/briannesbitt/Carbon/pull/847

[2017-01-13 09:41] #120 closed

[2017-01-16 11:30] dereuromark opened #121 "phpstan included"
I think similar to other projects including phpstan here would be really good in terms of code quality.

cc @ondrejmirtes

[2017-01-16 11:36] ondrejmirtes commented on #121
I'm all for that 😊 I can prepare a PR or supervise one.

[2017-01-16 18:54] markstory commented on #121
Sounds fine to me.

[2017-01-17 08:42] #119 closed

[2017-01-19 08:49] tchiotludo opened #124 "Day index change"
Just a little question about this :

from Carbon :
[code]

From Chronos :
[code]

Why have you changed the index of day ?
It break the drop-in replacement with Carbon for everyone that used this constant

[2017-01-19 08:53] dereuromark commented on #124
Please See the documentation. Chronos is using the international ISO norm here. Carbon die that wrong.

[2017-01-19 08:57] tchiotludo commented on #124
Just found the commit : https://github.com/cakephp/chronos/commit/1729c586dab964c76c47c1678af1dc3def89b1ae

But don't see any mention on the documentation about this.
Maybe you can add a mention about this, since on my case, it break my code with infinite loop (waiting for 0 values) and can be hard to find.

Thanks for your help.

[2017-01-19 08:57] #124 closed

[2017-01-19 12:33] #109 closed

[2017-01-19 12:46] dereuromark commented on #89
Please provide a PR to make it possible to adjust this if you find the time. Would be greatly appreciated.

[2017-01-19 12:48] dereuromark commented on #124
You can make a small PR to the readme for this if you want to. Thanks a lot!

[2017-01-31 19:07] ondrejmirtes commented on #121
I opened a PR: #127

[2017-01-31 19:10] dereuromark commented on #121
Great, closing this issue then.

[2017-01-31 19:10] #121 closed

[2017-02-08 20:41] Oxicode commented on #84
+1

[2017-02-08 21:36] Oxicode opened #128 "ModifierTrait.php Spanish and other lenguages"
Hola

¿Pueden hacer que los textos sean en español?

[code]

[2017-02-09 03:34] markstory commented on #128
@Oxicode Why do these values need to be translated? They are generally used to to modify dates via `modify()` which only accepts english values.

[2017-02-10 14:28] robertpustulka opened #129 "Add __debugInfo()"
Can we add `__debugInfo()` magic method for `Chronos`?

Especially `testNow` makes it hard to read chronos instances.

[code]

[2017-02-10 15:42] lorenzo commented on #129
Yes, please... that would be great

[2017-02-10 16:10] robertpustulka commented on #129
@lorenzo How would this look like?

[code]

Or some other format?

[2017-02-10 18:10] Oxicode commented on #128
Código:

![image](https://cloud.githubusercontent.com/assets/1320709/22838238/4468c3fc-ef92-11e6-82ae-91b22839cea1.png)

Imprime:

![image](https://cloud.githubusercontent.com/assets/1320709/22838232/3fe8304c-ef92-11e6-9a86-975e7e54de05.png)

Pero debería salir:
[code]

[2017-02-10 19:44] markstory commented on #129
That looks good to me @robertpustulka

[2017-02-10 20:23] markstory commented on #128
Unfortunately that is a function of how PHP works. The `DateTime::format()` method does not support translated data. Instead you might want to look at using the intl features that CakePHP offers, as translating strings is outside he scope of Chronos.

[2017-02-10 20:23] #128 closed

[2017-02-12 18:27] inoas commented on #129
I like the format a lot.

[2017-02-13 08:49] robertpustulka commented on #129
How to implement this? As a seperate trait? Or only in `TestingAidTrait`?

[2017-02-13 08:53] lorenzo commented on #129
I'm not sure about adding yet another trait... there are plenty! Maybe to the `TestingAidTrait` is good enough. Otherwise directly in the classes with the constructors

[2017-02-13 09:53] robertpustulka commented on #129
@lorenzo I came up with something like this:

[code]

On PHP 7+ it works great, but there's memory leak on PHP 5.6. If I remove static properties (`get_class_vars`) from a properties array it works. I'm not sure if this is some 5.6 issue or I'm doing something wrong...

[2017-02-13 10:04] lorenzo commented on #129
Wouldn't it be better to just show the important properties? I my mind there are only two:

* `currentTime` or `currentDate`
* `hasFixedNow`

[2017-02-13 10:13] robertpustulka commented on #129
@lorenzo and timezone?

[2017-02-13 10:16] lorenzo commented on #129
@robertpustulka indeed... although for some reason I was thinking that `currentTime` could have the timezone in the string. It is probably better to separate them

[2017-02-13 10:21] robertpustulka commented on #129
@lorenzo

[code]

Or should we use seperate formats for `DateTime` and `Date` ?

[2017-02-13 10:24] lorenzo commented on #129
yes, I think the formats should be separated, and for date there should not be a timezone.

[2017-02-13 10:32] robertpustulka commented on #129
PR is open, let's continue there.

[2017-02-13 10:32] #129 closed

[2017-03-31 14:30] gzumba opened #133 "midnight is not recognized as a relative keyword"
Midnight is used by Chronos::today() and as it is not recognized to be a relative keyword, tests using ::today() will not work correctly with the setTestNow()

[2017-03-31 14:52] markstory commented on #133
Closing as a pull request is open.

[2017-03-31 14:52] #133 closed

[2017-04-01 15:08] Ovsyanka opened #135 "DST handling while date modifying"
Hello!

What do you think about implement the same DST handling like i suggested in [issue](https://github.com/briannesbitt/Carbon/issues/883) for Carbon?

For example i have the date `2014-03-30 00:00:00` in `Europe/London` (`new Carbon('2014-03-30 00:00:00, 'Europe/London')`), then if i want to increase date by 1 day, i expect `2014-03-31 00:00:00`, but if want to increase date by 24 hours, then

[2017-04-01 21:24] markstory commented on #135
I think what you've outlined makes sense to me. Advancing by hours, minutes or seconds and crossing the DST boundary should take the DST transition into account, as the transition happened, and a 'bonus' hour was gained/lost.

[2017-04-01 21:34] Ovsyanka commented on #135
Okay, i will prepare pull-request in a few days.

[2017-04-01 23:52] Ovsyanka opened #136 "Timezone argument ignoring in constructors"
`Date`|`MutableDate`|`MutableDateTime` ignores `$tz` argument and forces it to 'UTC', but `Chronos` handling it. It seems wierd for me. I think it is better to handle it in all constructors in the same way (not ignore it). What do you think?

[2017-04-02 00:49] markstory commented on #136
Date and MutableDate intentionally ignore the timezone as calendar dates have no timezone. January 10 exists in all timezones.

MutableDateTime however should be respecting the provided timezone. Do you have an example of it not doing that?

[2017-04-02 00:58] Ovsyanka commented on #136
Seems like i made a mistake and `MutableDateTime` handles `$tz` argumens.

About `Date`|`MutableDate` i got your point.

[2017-04-02 00:58] #136 closed

[2017-04-02 01:54] markstory commented on #136
I'll see if we can remove the unused argument without triggering E_STRICT warnings.

[2017-04-24 10:54] xavier83ar opened #143 "Add @property comment for magic properties"
It would be great to add `@property` comments to `Cake\Chronos\Traits\MagicPropertyTrait` for magic properties, this way we get hinting support for them and avoid "accessed via magic method" soft warning on some IDE's.

[2017-04-24 10:56] dereuromark commented on #143
Are you able to make a PR with these changes? That would be great!

[2017-04-24 10:58] xavier83ar commented on #143
Ok.

[2017-04-24 11:50] #143 closed

[2017-06-28 01:24] josegonzalez commented on #79
Closing as there isn't anything actionable here and I believe the question as to why it was built this way has been answered.

[2017-06-28 01:25] josegonzalez opened #147 "Chronos issue suddenly appears"
_From @chrisShick on April 25, 2016 20:44_

This is a (multiple allowed):
- bug
- CakePHP Version: Current Release.
- Platform and Target: apache on xampp with php7
### What you did

I have not done any php backend things yet. I have merely been styling the app before I get started on the back end.
### Expected Behavior

Everything was working just fine and then suddenly I get this error:
Fatal er

[2017-06-28 01:25] josegonzalez commented on #147
_From @markstory on April 26, 2016 1:20_

How can someone reproduce this issue? What versions did you upgrade to that caused this issue to occur?

[2017-06-28 01:25] josegonzalez commented on #147
_From @chrisShick on April 26, 2016 1:22_

I did not upgrade to any version. This was a fresh install that was working and then suddenly started throwing the error on a page refresh. The confusing thing is that I have not touched a single line of php yet.

[2017-06-28 01:25] josegonzalez commented on #147
_From @markstory on April 26, 2016 1:24_

Are you sure that no versions changed? It is very unusual for working code to stop working unless something changes.

[2017-06-28 01:25] josegonzalez commented on #147
_From @chrisShick on April 26, 2016 1:25_

I looked into the ChronosInterface interface class and noticed that it does not implement the required format action that is required by the [DateTimeInterface](http://php.net/manual/en/class.datetimeinterface.php)

[2017-06-28 01:25] josegonzalez commented on #147
_From @chrisShick on April 26, 2016 1:25_

Yes, sir. I have not changed the version at all. I haven't touched my xampp configurations or the php backend code.

[2017-06-28 01:25] josegonzalez commented on #147
_From @markstory on April 26, 2016 1:26_

It never has. That method gets implemented by the native DateTime and DateTimeImmutable classes that chronos extends.

[2017-06-28 01:25] josegonzalez commented on #147
_From @markstory on April 26, 2016 1:27_

Without a way to reproduce or even track this down, there is not much anyone can do for you.

[2017-06-28 01:25] josegonzalez commented on #147
_From @chrisShick on April 26, 2016 1:30_

Alright, I will do another fresh install and see if I can reproduce the issue. I just do not see how this just pops up.

[2017-06-28 01:25] josegonzalez commented on #147
_From @hraq on May 9, 2016 7:25_

Hi,

I have same problem as chrisShick.

**Set up**
CakePHP:  3.2.5
PHP: 7.0.1 (ZTS) 32bit on Windows (XAMPP)
Chronos: 0.4.8
IDE: PHPStorm 2016.1

**Description**

`Fatal error: Class Cake\Chronos\Chronos contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (DateTimeInterface::diff) in C:\xampp\htdocs\[ProjectDir]\v

[2017-06-28 01:25] josegonzalez commented on #147
_From @lorenzo on May 9, 2016 8:20_

You should start by upgrading your cakephp version

[2017-06-28 01:25] josegonzalez commented on #147
_From @hraq on May 9, 2016 11:36_

Upgrading Cake wasn't where I start "fixing" this problem.

In my post I forfot say that 3-4 times it was Carbon what throws that error. Only once it was came up to Chronos.

I've tried to hunt if there is any bug in code, but not yet found any. I cleared cake and browser caches etc. It's happens so randomly that time between errors could be weeks (thats make deb

[2017-06-28 01:25] josegonzalez commented on #147
_From @robertscherer on May 16, 2016 9:31_

I can confirm this issue exists.

My environment:
- Mac OS X 10.11.4
- Apache 2.4 via homebrew
- PHP 7.0.6 via homebrew
- CakePHP 3.2.8

This is the message:

[code]

I too can confirm that it appears randomly and I have trouble reproducing it. An apache restart seems to resolve it for some time.

Is there any information I can provide to help reproduce

[2017-06-28 01:25] josegonzalez commented on #147
_From @lorenzo on May 16, 2016 12:11_

Sounds like a problem related to php in apache

[2017-06-28 01:25] josegonzalez commented on #147
_From @lorenzo on May 16, 2016 12:29_

Do you mind using another webserver during your tests to see if the error can be replicated?

[2017-06-28 01:25] josegonzalez commented on #147
_From @robertscherer on May 16, 2016 12:31_

I have tried to reproduce the issue for the last hour, but wasn't able to. I'd say we leave it be as I too think this has nothing to do with CakePHP.
Thanks,

[2017-06-28 01:25] josegonzalez commented on #147
_From @chrisShick on May 16, 2016 12:58_

At this point, I agree that it has nothing to do with CakePHP. It must have something to do with PHP and Apache.
I wish I could do more, but I have not been able to replicate the issue again since this ticket after restarting my apache.

[2017-06-28 01:25] josegonzalez commented on #147
_From @Bird87ZA on June 15, 2016 6:20_

Can also confirm this issue. Can't replicate it. Sometimes leaving the page for 5 - 10 minutes and then refreshing resolves the issue.

I'm on version 3.2.9. This occurred on 3.2.8 and 3.2.7 as well.

[2017-06-28 01:25] josegonzalez commented on #147
_From @jippi on June 15, 2016 6:23_

attach gdb to the process from cli while testing - maybe there can be found cause in there

are opcache enabled?

[2017-06-28 01:25] josegonzalez commented on #147
_From @Nirgalz on September 3, 2016 12:19_

Can confirm the issue.
Switching from php7 to php5 resolves the issue.
I'm on version 3.3.2

[2017-06-28 01:25] josegonzalez commented on #147
_From @szel on October 11, 2016 14:31_

Could this be an issue?

<pre>
/**
 * An extension to the DateTimeInterface for a friendlier API
 */
interface ChronosInterface extends DateTimeInterface
</pre>

Where PHP manual says:

<pre>
Version Description
5.5.8   Trying to implement DateTimeInterface raises a fatal error now. Formerly implementing the interface didn't raise an error, but the behavior

[2017-06-28 01:25] josegonzalez commented on #147
_From @RickyNotaro on October 28, 2016 21:10_

I got the same issue while I was editing a view on CakePhp 3.3, PHP 7.0.1, Apache/2.4.23. An Apache service restart did the job on my Ubuntu VPS.

[2017-06-28 01:25] josegonzalez commented on #147
@szel that sounds interesting. Does anyone have a vagrant vm that might be able to replicate this issue?

[2017-06-28 01:25] josegonzalez commented on #147
_From @3811015 on January 9, 2017 8:26_

I had the issue too on my dev enviroment.

Reproducable until I restartet apache. Now its gone.

Didnt see this in production until now, there is nginx and php-fpm + opcache deployed.

[2017-06-28 01:25] josegonzalez commented on #147
@3811015 what other differences are there between your envs?

- Operating System (and version)
- Server version
- PHP Version
- Installed extensions

[2017-06-28 01:25] josegonzalez commented on #147
_From @3811015 on January 9, 2017 9:2_

@josegonzalez

Production:
CloudOs (commercial fork of centOs),

Dev:
Win7, 64bit,
xampp,

Both have additional libsodium activated.

The more interesting fact is that the error stuck from Thursday to Monday on my Dev Env, I just was too lazy caring about it and switched to another Story about some Datebase settings first. So once you have it, you should be

[2017-06-28 01:25] josegonzalez commented on #147
Can you include the exact php version, as well as an exact list of extensions installed in each?

[2017-06-28 01:25] josegonzalez commented on #147
_From @3811015 on January 9, 2017 9:41_

@josegonzalez today evening, i'll take the time.

[2017-06-28 01:25] josegonzalez commented on #147
_From @3811015 on January 10, 2017 9:45_

@josegonzalez

#Server, where it didnt occur (Production)

##php

[code]

#System where I saw i more than once occuring (dev)

## php

[code]

If you need mor information on apache (dev env) or the nginx (prod env) let me know.

[2017-06-28 01:25] josegonzalez commented on #147
_From @MCF on June 27, 2017 21:13_

I've also seen this error occuring intermittently.  Configuration is:

Windows 7 64 bit.
Apache 2.4.25 64 bit (VC14).
PHP 7.1.6 64 bit (VC14).
CakePHP 3.4.8.

This is a typical error message from the Apache error.log:

[code]

In my case, once the error begins to occur it always occurs until Apache is restarted - at which point it goes away.

About the third tim

[2017-06-28 01:25] josegonzalez commented on #147
_From @MCF on June 27, 2017 21:33_

This kind of problem feels like a memory leak or a race conditions.

I have just upgraded to the latest Apache version 2.4.26 released late last week.  I am doubtful that it will solve anything as there was nothing in the changelog for that release that talked about anything related to this problem.

I understand that this is probably not caused by buggy code in

[2017-06-28 01:25] josegonzalez commented on #147
This definitely sounds like a mod_apache bug. I'm not familiar with how it's implemented, anyone know of any differences in how it works compared to php-fastcgi or php-fpm?

Perhaps if we re-specify all the interface methods from DateTimeInterface in ChronosInterface, it'll somehow work?

[2017-06-28 01:25] josegonzalez commented on #147
_From @MCF on June 27, 2017 22:8_

Just hit it again on a single page load.  This time it threw a zend_mm_heap corrupted message and crashed/restarted Apache:

[code]

This was with the latest Apache 2.4.26.

[2017-06-28 01:25] josegonzalez commented on #147
@MCF can you add the interface methods from DateTimeInterface to ChronosInterface? https://secure.php.net/manual/en/class.datetimeinterface.php

[2017-06-28 01:25] josegonzalez commented on #147
_From @MCF on June 27, 2017 22:39_

I had it back in the error state and added this to ChronosInterface:

[code]

The error still occurred indefinitely.  I restarted apache and, keeping the addtions to ChronosInterface listed above, the page loaded fine.

[2017-06-28 01:25] josegonzalez commented on #147
@MCF keep the additions and report back if it happens again.

I wonder if there is some weird code around the removal of DateTimeInterface implementation that causes extending to fail under mod_php...

[2017-06-28 01:27] josegonzalez commented on #147
_From @MCF on June 28, 2017 00:12_

So far so good since the restart. I'll let it run for at least a week and see what happens. Thanks for your help @josegonzalez.

[2017-06-28 01:27] josegonzalez commented on #147
_From @MCF on June 28, 2017 00:55_

Another, different error was just thrown.  Still Chronos related though:

[code]

As usual restarting Apache fixed the problem.

This is the line it claims to have died on (although the heap corruption makes me suspicious of all of this):

[code]

[2017-06-28 01:28] josegonzalez commented on #147
From @MCF on June 28, 2017 01:04

There was also another `zend_mm_heap corrupted` crash+restart a little earlier.  But there was no other message in the log with that one.  More than likely the same problem would be my guess.

[2017-06-28 01:32] josegonzalez commented on #147
Just a thought, one other commonality here is PHP 7, either 7.0 or 7.1. What other changes in PHP 7.x were introduced, and does this replicate with PHP 5.6?

[2017-06-28 04:28] szel commented on #147
@josegonzalez - for development purposes I'm using suphp (this is apache mod that checks uid/gid of the script being executed and then runs cgi/bin with user permissions).

I can confirm that this is not mod_apache bug.

[2017-06-28 04:35] josegonzalez commented on #147
Okay so still Apache. Does anyone have an example repro of this with nginx so I can toss that theory out?

[2017-06-28 04:58] szel commented on #147
@josegonzalez it doesn't feel like apache bug and let me explain why.

Scenario 1 - mod_php for apache
This mod keeps running processes (workers) for PHP while apache is up (with www server permissions). When HTTP request comes - apache is using those processes to handle PHP requests. When bug happens - it corrupts their internal state (probably crashes something) and when you hit this currupted p

[2017-06-28 05:15] josegonzalez commented on #147
Maybe but I'm running quite a few cake apps under nginx and this issue just doesn't crop up. Makes me think something about the link is broken.

Against, would be curious if this can be replicated in 5.6, since if so it would be related to the aforementioned "implements" issue.

[2017-06-28 05:20] szel commented on #147
For me - this bug happened long time ago when I was testing PHP7 and new CakePHP 3. I can't remember how this ended but I downgraded to PHP 5.6 and I forgot about this issue.

I'm using Debian 8 (Jessie) for the moment - PHP 5.6.30 is there as default php5 package.

[2017-06-28 05:24] szel commented on #147
@josegonzalez out of curiosity - which PHP version are you using with nginx?

[2017-06-28 05:40] MCF commented on #147
I spent the afternoon chasing this bug around and didn't really read the documentation closely.  But I'm reviewing now and noticed this line from the [DateTimeInterface docs](http://php.net/manual/en/class.datetimeinterface.php):

_DateTimeInterface is meant so that both DateTime and DateTimeImmutable can be type hinted for. **It is not possible to implement this interface with userland classes**.

[2017-06-28 05:53] szel commented on #147
@MCF because concrete classes extend from DateTime and DateTimeImmutable, thus not requiring to force fatal error (PHP sees those classes as their "own").

I've added this warning from PHP manual because it leads to another question - if implementing DateTimeInterface is erroneous, is extending DateTime classes safe (hint to this weird bug)?

[2017-06-28 06:28] nyamsprod commented on #79
@josegonzalez IMHO you should not close an issue which as not been resolved or without a solid argument for not fixing it. Indeed an historical explanation of the current situation is given but that's not a valid argument to keep a bug in any codebase.

FWIW, there are actions that can be taken to resolve this issue without breaking anything.
For instance, you could added 2 new interfaces `Updated

[2017-06-28 07:26] lorenzo commented on #79
@nyamsprod that does not sound like a dead idea to me. Would you like to open a pull request with those additions?

[2017-06-28 08:03] nyamsprod commented on #79
@lorenzo no offense but why is it not obvious that the `ChronosInterface` is buggy ? Using PHP7 return type hint this should be obvious to anyone:
[code]
Adding this `BugFixedChronosInterface` which only exposes the getter methods would solve the issue. FWIW, the same issue was discussed during `DateTimeInterface` addition into PHP core and the solution reached was to remove any setter from the in

[2017-06-28 08:05] lorenzo commented on #79
@nyamsprod I think we are past that debate. We have the interface today and cannot remove it in a patch release.

I think it is a good idea to break down the interface in smaller ones. Would you like to submit a pull request for it?

[2017-06-28 08:08] nyamsprod commented on #79
@lorenzo I'm not suggesting to remove it now. Maybe in the next major release. I'm suggesting to add the correct interface now which in my book is not a BC break. Now you may do it or other may do it. I personnaly can't becasue I have other open source project to maintain.

[2017-06-28 08:09] lorenzo commented on #79
@nyamsprod We both are restricted by time available then. Thanks for the suggestions, I do think they make sense :)

[2017-06-28 14:50] MCF commented on #147
I guess my question was more along the lines of "why are we doing this if the documentation says not to do it?"

Good point about the extending the classes.  If removing the `extends DateTimeInterface` does not work I'll look into getting rid of the `extends DateTime`.

[2017-06-28 15:44] lorenzo commented on #147
@MCF The restriction was added after Chronos was implemented. It does throw an error when adding the interface to a concrete class instead of to an interface.

[2017-06-28 17:13] MCF commented on #147
Thanks @lorenzo that makes sense.

I've removed the `extends DateTimeInterface` from the ChronosInterface and tested it.  I get periodic Apache crashes.  2 with zend_mm_heap corrupted in the log and 2 with nothing in the log.  In all cases I'm not seeing any other information (e.g. Chronos related error messages).  The fact that the only changes I'm making is to Chronos makes me feel fairly sure t

[2017-06-28 18:11] lorenzo commented on #147
It is definitely a PHP bug, I have no doubts about it. The only thing we know is common to all people having this issue is apache, so my guess is that it has to do with not properly cleaned up shared memory. Maybe try to disable the i-cache extension if you have it enabled and test again? (that's going to cause your page to load slower, though)

@MCF can you also open a ticket in the PHP main issu

[2017-06-29 22:15] MCF commented on #147
I ran the built in web server for a day (i.e. bin/cake server) and did not see the problem.  I then connected Visual Studio debugger to the Apache process and ran for 3 or 4 hours.  Again the problem did not occur with the debugger connected.

Once I stopped visual studio the problem reappeared as usual

[2017-06-29 22:15] MCF commented on #147
I've logged an issue with PHP:

https://bugs.php.net/bug.php?id=74833

[2017-06-30 21:09] MCF commented on #147
FWIW this is the PHP pull request that implemented the exception on user land classes implementing the DateTimeInterface:

https://github.com/php/php-src/pull/512

[2017-07-12 18:11] MCF commented on #147
The underlying issue causing this Chronos bug is a PHP memory corruption bug.  That bug is present in PHP 7.0 and 7.1 (but not 5.6).  There is no real workaround.  Although using FCGI might cut down on how often it occurs.

The memory corruption bug seems to have been fixed in 7.2 for the most part.  I've seen one crash in a week of testing, and that was with the alpha2 release.  Also the crash "l

[2017-07-17 23:37] stil opened #149 "Different date is returned for Chronos::today($tz) and Date::today($tz)"
Currently here is 18 Jul, 1:31 AM in Europe/Warsaw (UTC+2:00).
For some reason ```Chronos::today()``` and ```Date::today()``` return different date.

[code]
[code]

[code]
[code]

Am I missing something or is it a bug?

[2017-07-18 00:46] markstory commented on #149
Date objects always use UTC as their timezone, ignoring the input timezone. In this scenario it might make sense to get the date in Warsaw and then create another instance in utc for the same calendar day.

[2017-08-10 19:26] votemike opened #150 "Multiple instance created if calling certain methods."
If calling `isPast()`, `isToday()`, `isFuture()` on a Chronos object, a new static of "now" is created on each method call in order to compare.
I believe there must be a way to cache a "now" for reuse to avoid creating many unnecessary objects.

[2017-08-10 22:18] markstory commented on #150
How would caching 'now' work? What is 'now' could change throughout the duration of a PHP process.

[2017-08-11 08:12] votemike commented on #150
I was wondering the same thing. Unfortunately I could not think of a decent solution. However I imagine in 99% of cases I would have thought that during a single process people would expect 'now' to be the same.
Maybe have a new variable that can be set to true if you wish to use 'now caching' in a similar way that  `$testNow` can be set until unset. That way the default behaviour stays as expecte

[2017-08-11 08:43] dereuromark commented on #150
The main issue with multiple "now" during a PHP dispatching process is a more severe one:
The leap seconds. If the seconds cross over from lets say 15 to 16, and you didnt store the created now value in a variable the first time to reuse, they would have a different time.
For this there is a setTest() mode.
Having a setNowFixed() sounds like a similar thing then for production.
Not sure what the i

[2017-08-11 08:53] votemike commented on #150
I did a quick benchmark test calling `isPast()`, `isToday()` and  `isFuture()` one after another 100000 times. Which seemed to take about 11 seconds. I then hacked together a something that returned a cached instance inside `::now()` instead of a new instance which seemed to take the benchmark down to around 7 seconds. If those numbers are correct it seems worthwhile to me.

[2017-08-11 08:53] votemike commented on #150
I could put a PR in for my benchmark file if you like.

[2017-08-11 11:39] markstory commented on #150
What would cachedNow() do different than testNow() does?  They both sound like ways to fixate 'now'.

[2017-08-11 12:42] votemike commented on #150
Even if `testNow()` is set... when `isToday()` is called, a new instance is created. I would imagine the `now()` method would bypass `new static('now', $tz)` and instead return this cached instance of "now".

[2017-08-11 12:46] dereuromark commented on #150
@markstory setTestNow() can accept a custom date time string to set it to e.g. some value in the past or future for specific tests.
That's what we sure don't want to allow for production :)
So a new method would have to be added either way that can only use the current time (accepts only bool true/false to enable/disable).

[2017-08-11 14:37] markstory commented on #150
So if we were to add a new fixed now, how would that method interact with testNow()?

[2017-08-15 08:27] lorenzo commented on #150
I don't think it is possible to cache the current time without introducing new bugs.

We could instead offer a specialised object that has the current time cached and document it as meant to be used in tight loops for doing comparisons of this type:

[code]

That way we avoid the issues of magically caching the current time and solve the performance issue. The only problem is someone using the `Fr

[2017-08-15 08:32] dereuromark commented on #150
+1 for *mark :trollface:

[2017-09-05 09:23] votemike opened #151 "Move property docblocks from Chronos and Date to ChronosInterface"
I am using PHPStan on my code. I am calling `->year` and `->month` on an object that is typehinted with `ChronosInterface` which is causing PHPStan to complain with the error "Access to an undefined property Cake\Chronos\ChronosInterface::$month." Should the docblocks for these shared properties be moved down to ChronosInterface?

[2017-09-05 17:27] markstory commented on #151
The properties aren't part of the interface, so I'm not sure they should be moved down.

[2017-09-05 17:32] votemike commented on #151
Hmmm. I see your point. They come from the PHP base DateTimeImmutable don't they? Is there any way we could tidy this up? Or not?

[2017-09-05 21:16] MCF commented on #147
Just a final follow up on this bug.  As far as I can tell the underlying issue has been fixed in PHP 7.2.  I have not had any crashes in weeks running the final beta releases, and now the first release candidate.  The crash I mentioned in my previous note was an entirely different PHP issue, unrelated to Chronos.  FWIW that second issue has also been fixed as of the last 7.2 beta release.

I've no

[2017-09-06 01:02] markstory commented on #151
Those properties come from the `__get` implementation in the `MagicPropertyTrait`.

[2017-09-20 18:07] ravage84 opened #152 "Convenience Functions for choosing/setting precision"
After reading a [recent article about time precision](http://rosstuck.com/precision-through-imprecision-improving-time-objects), I was wondering if it would make sense to include convenience functions for choosing/setting precision into Chronos?

I could imagine setting the precision of a date or datetime object to:
- year
- half year
- quarter
- month
- week
- day
- half day
- hour
- half an hour

[2017-09-20 18:15] markstory commented on #152
We have a number of comparison methods that would fall under 'solution 3' from that article. How do you see these precision methods being used?

[2017-09-20 18:36] ravage84 commented on #152
[code]

Instead of working with one of the ``diffInXyz()`` methods, you can compare apple with apple.

[2017-09-27 18:11] tm1000 commented on #84
Hi all I am still planning on getting to this if anyone was curious.

[2017-10-25 19:50] Ovsyanka commented on #135
I have new thoughts about the issue. Please look to issue in Carbon project: https://github.com/briannesbitt/Carbon/issues/883#issuecomment-339446962

[2017-10-26 01:24] markstory commented on #135
It sounds like you're proposing to effectively revert the previous set of changes. I may have misunderstood the discussion thread in Carbon though.

[2017-10-26 09:05] Ovsyanka commented on #135
Not exactly revert. I am not sure about decision we standed to change how `modify` method works itself. Instead I suggeted to move that changes particulary in `add|sub` methods of `Carbon` (and `Chronos`), only the `sec|minute|hour` ones.

In addition I [realised](https://github.com/briannesbitt/Carbon/pull/884#discussion_r145051548), that my current code isn't perfect right now and it runs when `

[2017-11-03 10:16] lorenzo commented on #84
@tm1000 go for it!

[2017-12-13 15:16] kheengz opened #155 "diff() from DateTimeInterface not implemented"
on a cakephp 3.5.4 and php 7.1
`diff()` from `DateTimeInterface` not implemented
[code]

[code]

[2017-12-13 15:27] markstory commented on #155
We inherit from `DateTime` which is why we don't explicitly implement that method.

https://github.com/cakephp/chronos/blob/1f3898e49939e2c1801053632f70b6bdfdd9cadd/src/MutableDateTime.php#L51

and

https://github.com/cakephp/chronos/blob/1f3898e49939e2c1801053632f70b6bdfdd9cadd/src/MutableDate.php#L50

[2017-12-15 11:00] kheengz commented on #155
@markstory so what's the way forward same error is persistent with no particular order. it occurs randomly.

[2017-12-15 16:39] markstory commented on #155
No idea. What version of PHP7.1 are you on? This sounds very much like #147

[2017-12-16 13:37] kheengz commented on #155
@markstory am on **7.1.10**

[2017-12-16 13:42] #155 closed

[2018-01-06 13:27] digilist commented on #94
I am very +1 for having a feature that calculates the diff based on calendar months.

However, I would not change the current method, as it is a BC break. I cannot know if anybody needs this method and wants this behavior, so changing it should be a no-go.

[2018-01-06 13:56] digilist opened #157 "addYear and leap years"
When I call `addYear` on a 29th of February I'd expect to stay in the same month and have the 28th of February in the next year, however the result is the first of March.

[code]

Chronos got the same behavior when using addMonth:
[code]

I can provide a pull request if there aren't any objections to changing this.

[2018-01-07 02:35] markstory commented on #157
I'm concerned with deviating from the behavior that PHP's core DateTime implementation provides. This makes the behavior of Chronos harder to grok as it does the opposite of what PHP does.

[2018-01-07 02:44] markstory commented on #94
Adding a new method name is always an option to generate differences based on calendar months.

[2018-01-07 05:28] chinpei215 commented on #157
Since we have `addMonth()` and `addMonthsWithOverflow()`, I think adding `addYearsWithOverflow()` makes sense.

[2018-01-11 15:09] itsjavi commented on #135
But what happens when you advance in days or other time units that are not in the regular expr. and cross the DST boundary? I am not sure if the fix will work then..

[2018-01-11 15:39] Ovsyanka commented on #135
@itsjavi Some people expects that if they add a day - there will bi the same time in the new offset. By default php trying to do that thing, (but it doing it wrong in some cases). Initially idea is that most people expecting default php logic when units is >= day and in the same time it is quite unexpected with smaller units.

So, answer to your question: For other units PHP default behavior happe

[2018-01-15 18:54] Ovsyanka commented on #135
@markstory, @itsjavi I realised (in result of discussion https://github.com/briannesbitt/Carbon/issues/883#issuecomment-357393640) that my approach was wrong. Because to all users expect the same behavior of modify in matter of handling DST changes. There is usecases for both approaches in both diapasones of units (less than day and equal or bigger). And by default php already have the way to hand

[2018-01-17 02:44] markstory commented on #135
A revert pull request would be great. As for the documentation, could this type of caveat be part of the API documentation?

[2018-01-17 08:01] Ovsyanka commented on #135
Yes, of course. But I don't know where to place it in the API docs.

[2018-01-18 00:57] markstory commented on #135
I just noticed the lack of good places to put the API docs now that the method is being removed. The next best place is in the cakephp book which has documentation guides for chronos.

[2018-01-18 08:03] Ovsyanka commented on #135
Let's be the book then. I still don't know where exactly and how (wich repo?) to place it there. Maybe it will be better you to do it?

[2018-01-18 08:35] saeideng commented on #135
book:
https://book.cakephp.org/3.0/en/chronos.html
https://github.com/cakephp/docs/blob/3.0/en/chronos.rst

[2018-02-01 23:37] mumia opened #160 "Problems with testing with microseconds"
I'm running a PHP 7.2 server.

And although I have set the "testNow" variable:
[code]

I'm having problems when testing:
[code]

Both dates where generated with the Chronos::now() after the "setTestNow".

Might I be doing something wrong?

[2018-02-02 01:54] markstory commented on #160
I'll try to reproduce this. What version of chronos are you using?

[2018-02-02 04:15] ominfowave commented on #155
if you have xampp stop your service of apache, mysql. Hold sometime, again start the services.

[2018-02-02 09:18] mumia commented on #160
@markstory I am currently on version ```1.1.4```.
The code is running in a docker with the image ```php:7.2-fpm-alpine```.

[2018-02-02 19:08] mumia commented on #160
Apparently this problem has to do with the fact the I'm calling the "setTestNow" in several tests.
I tried moving the "setTestNow" to the test case constructor and it seems to work fine.
Of course this would not be the best solution because I will eventually need to set some custom date in a test.

[2018-02-02 19:34] markstory commented on #160
Each time you setTestNow() you'll likely get new microseconds. In your tests where you set a custom date how are you doing it?

[2018-02-02 21:02] mumia commented on #160
I'm using (for now):
[code]

[2018-02-02 22:22] mumia commented on #160
I think I figured it out.
The fixture system I'm using was creating the fixture set on object instantiation. And this happens inside the container, well before I call the "setTestNow".

By tweaking the fixtures to load only when requested I am able to run everything without any strange date behaviour.

[2018-02-02 22:22] #160 closed

[2018-02-11 21:09] lorenzo commented on #147
Closing as PHP 7.2 is out and the bug was reported to have been fixed there.

[2018-02-11 21:09] #147 closed

[2018-02-27 01:55] markstory commented on #157
Closing as there is a pull request now.

[2018-02-27 01:55] #157 closed

[2018-03-19 14:34] hktr92 opened #164 "Error: debugInfo must return an array"
Hello, there.

While debugging with phpstorm and xdebug the behavior of a controller which uploads avatar images, I came across an error thrown by PHP:
![image](https://user-images.githubusercontent.com/7689151/37600954-7c9960b0-2b91-11e8-8391-489cdc185347.png)

I think that it's related to #129 which introduced the given method.
It's a Symfony 4-based project and for dev environment, I'm using PH

[2018-03-19 14:41] markstory commented on #164
But it does return an array https://github.com/cakephp/chronos/blob/be20ca1679c532556c9abec67f230273bc874ef4/src/Chronos.php#L136-L144

[2018-03-19 15:50] hktr92 commented on #164
Created a new directory, ran `composer req cakephp\chronos`, instantiated the class, stepped into and xdebug died. Removed the timezone line from array, stepped into and it worked, but with each step over, i got this error(s) in console:

    /usr/bin/php7.1 -dxdebug.remote_enable=1 -dxdebug.remote_mode=req -dxdebug.remote_port=9000 -dxdebug.remote_host=127.0.0.1 /home/hktr92/Playground/xdebug-cra

[2018-03-19 21:02] markstory commented on #164
That warning is likely coming out of php internals. You might be able to get around that warning if the `timezone` is omitted from the debug data entirely.

[2018-03-28 14:22] odan commented on #164
This is the default behavior of PHP.

[Source](http://php.net/manual/en/language.oop5.magic.php#object.debuginfo)

When you try to inspect a variable with Xdebug, the magic method `__debugInfo()` is called automatically because Xdebug tries to load the state via `var_dump()`. If the internal state of your object is not initialized (depends on the breakpoint), you receive this error.

Using `__debu

[2018-04-05 09:56] votemike opened #165 "Handle DateInterval Roll-Over"
It would be useful if there was a way to handle DateInterval Roll-Over.
For example, I would hope that `(ChronosInterval::seconds(107))->format('%I:%S')` would output `01:47` rather than `00:107`.

[2018-05-16 06:32] pclanguage commented on #106
change below code in vendor\cakephp\chronos\src\Traits\FrozenTimeTrait.php
public function setTime($hours, $minutes, $seconds = 0)
    {
        return parent::setTime(0, 0, 0);
    }

**as like**
public function setTime($hours, $minutes, $seconds = 0, $microseconds = null)
    {
        return parent::setTime(0, 0, 0, 0);
    }

[2018-05-31 17:23] agarzon opened #170 "Wrong months ?"
[code]

It returns:
[code]

It should be JUNE, not July... same happens with February and other few.

Using UTC tz in server and PHP, times are synced.
Using cakephp 3.5.17 with PHP 7.1.14

[2018-05-31 17:32] dereuromark commented on #170
check API for withOverflow methods.

[2018-05-31 17:49] agarzon commented on #170
Well, the same issue happens using **Time**, doing it as documentation suggest. https://book.cakephp.org/3.0/en/core-libraries/time.html

[code]
it returns as July.

The withOverflow as I can see are for add and subtract from a specific time, my need is to actually set a specific time.

[2018-05-31 19:11] agarzon commented on #170
As additional info, the only method I found that respect the correct month's sequence was setDate()

[code]

It returns:
[code]

[2018-05-31 19:32] markstory commented on #170
Not much we can do here as the date instance is initially created as `2018-05-31'. When you change the month to `6` the underlying date becomes `2018-07-01` as there is no june 31. You could get the correct result using:

[code]

[2018-05-31 19:32] #170 closed

[2018-05-31 19:33] agarzon commented on #170
What about ?

[code]

[2018-05-31 19:36] dereuromark commented on #170
No. Without startOfMonth() reset after year setting, the month setter will make the overflow happen.
So better to never use the property setter, but a clean method interface approach.

[2018-05-31 19:45] agarzon commented on #170
Now I see where the problem is and why we did not catched before (today is 31th) and why the date must be set as the 1st date before manipulating it.

But still a unexpect thing if you just follow the doc.

Thanks to both.

[2018-06-02 18:39] IndraGunawan opened #171 "locale for diffForHumans method"
Hi, there is a way to create another locale used `diffForHumans` method for multi locale site?

[2018-06-03 01:13] markstory commented on #171
Yes the [diffFormatter() method](https://github.com/cakephp/chronos/blob/9fed95be5690228bba9f519df518082d3d14ec10/src/Traits/DifferenceTrait.php#L290-L300) allows you to replace the DifferenceFormatter, which contains a `Translator` which does the actual translations.

[2018-06-05 14:20] IndraGunawan commented on #171
thank you :)

[2018-06-05 14:20] #171 closed

[2018-06-21 15:49] highstrike opened #173 "New 1.2.0 version breaks tests"
The newly released 1.2.0 breaks cakephp date tests
https://travis-ci.org/cakephp/cakephp/jobs/394841488

somewhere, somehow `Chronos::setTestNow()` fails to do what its supposed to

[2018-06-23 13:48] markstory commented on #173
1.2.1 released now.

[2018-06-23 13:48] #173 closed

[2018-06-23 16:02] highstrike commented on #173
Thanks 👍

[2018-07-23 13:04] odan commented on #77
Today I've got the issue. IMHO it's very dangerous to use the `\Cake\Chronos\Date` class because the interface pretends something it does not do.

[code]

[2018-07-23 13:07] ravage84 commented on #77
Can't we throw an exeption if one tries to set a time on a Chronos\Date object? This could prevent many hidden and hard to find bugs.

[2018-07-23 14:35] markstory commented on #77
@odan I can see how its confusing. But setting 'time' on a calendar date (which is what `Date` is intended for) is a strange operation.

@ravage84 We might be able to raise exceptions, but I don't know how that will work with PHP's internal usage of datetime objects.

[2018-07-23 17:07] ravage84 commented on #77
@markstory It's strange that a "presumed" Date object provides an API for manipulating the time. I see why it was designed like this, but I guess the actual source of the problem is that PHP does not have dedicated Date interface... Everything else is just a consequence of that.

Well, the only alternative is to put a big fat warning on using the class wherever sensible - which will most certainly

[2018-07-23 17:41] nyamsprod commented on #77
@markstory the real issue is that a Date and a DateTime are two distinct concepts so the Chronos Date object should had have its own interface and provide converter method to generate or create new instance from the PHP interface

[2018-07-23 18:40] markstory commented on #77
@nyamsprod Fair. Had I known now what I know now that would have likely been a path I would have gone down. At the time, making a mutant `DateTime` appeared to be a simple way to introduce calendar dates without breaking a significant amount of consuming code.

[2018-07-23 20:05] 3811015 opened #176 "Accept an Array from datetime Inputs for DateTime::__construct() in MutableDateTime.php"
I leave this for a discussion.
I think it would be a small enhancement, which is easy to achive and worth it...

Imagine, you are building your own validation rule in cakephp... Let's keep it simple, something like a datatime-field is not permitted to be more than one hour in the future.
You will end up building something like this:

[code]

If you look at $value, you will see an array like:

[cod

[2018-07-23 22:15] saeideng commented on #176
cake uses
https://github.com/cakephp/cakephp/blob/1f51a72d4b85ab98e0a1dcc195d50565c847724e/src/Validation/Validation.php#L1568-L1591

[2018-08-27 07:40] burzum opened #177 "Chronos::createFromFormat() results in a wrong date?"
https://github.com/cakephp/cakephp/blob/master/tests/TestCase/Http/Cookie/CookieTest.php#L71-L88 How can the result in the assert be 2026 when line 77 is 2027? Is this a bug in Chronos or is there something going somewhere in the code that I haven't seen?

Here is a part from the #dev channels chat log, @saeideng confirmed the issue.

[code]

[2018-08-27 15:09] markstory commented on #177
Closing as the format string in use was wrong. @ADmad updated the test and now the year is correct.

[2018-08-27 15:09] #177 closed

[2018-09-06 19:42] ravage84 commented on #152
Eric Evans proposes an interesting solution to problems like this in this [talk "Eploring Time"](https://www.youtube.com/watch?v=Zm95cYAtAa8&feature=youtu.be&t=41m52s):
[Allen's interval algebra](https://en.wikipedia.org/wiki/Allen%27s_interval_algebra)

But a solution like the one proposed would probably go way too far and would likely be implemented on a programming language level at best.

[2018-09-27 15:27] sethjohnson1 opened #178 "Dates far the past using MM/dd/YYYY are displayed one year ahead"
I have noticed that when dates toward the turn of the century or before are displayed as MM/dd/YYYY, they appear incorrectly - one year ahead of where they should be. For example 12/31/1889 is saved to the database, and then rendered as 12/31/1890. Obviously this causes problems with CakePHPs edit views, where the values are automatically populated in form controls. Each time the user saves, the d

[2018-09-27 16:08] markstory commented on #178
Does your database support saving values formatted with `mm/dd/yyyy`? The date columns I've worked with in the past required `YYYY-MM-DD`.

How can someone reproduce the issue you're having/seeing?

[2018-09-28 14:05] lorenzo commented on #178
The format is wrong, please use `yyyy` as uppercase `Y` means "week year" which is a different thing. You can read about the format here http://userguide.icu-project.org/formatparse/datetime

[2018-09-28 14:05] #178 closed

[2018-09-28 16:28] sethjohnson1 commented on #178
Yes but this happens with the default settings in CakePHP

[2018-10-18 18:42] colinodell opened #180 "This library breaks nesbot/carbon version 2.0+"
This library does not seem to be compatible with Carbon 2.0 or higher due to the aliases defined in `src/carbon_compat.php`.  Attempting to use Carbon while this library is installed results in the following fatal error on PHP 7.2:

And this error on PHP 7.1:

I can replicate this by performing the following steps:

1. Clone this repository
2. Run `composer require --dev nesbot/carbon` (installing

[2018-10-18 19:20] markstory commented on #180
Closing as a pull request is open to fix this.

[2018-10-18 19:20] #180 closed

[2018-10-22 18:17] colinodell opened #182 "Chronos 1.2.3 not available on Packagist"
Packagist does not show version 1.2.3: https://packagist.org/packages/cakephp/chronos  I'm therefore unable to install it.

Not sure if this is related to [the Github outage which is affecting webhooks](https://status.github.com/messages); however, the release of 1.2.3 was the day before Github issues, so perhaps not.

Anyway, just wanted to bring this to your attention. Thanks!

[2018-10-22 18:21] dereuromark commented on #182
It's there now:
https://packagist.org/packages/cakephp/chronos#1.2.3

[2018-10-22 18:30] colinodell commented on #182
0_o I swear it wasn't there when I posted.  Perhaps 1.2.3 should be nicknamed "Schrodinger's release" - it only exists when a maintainer goes to check it :laughing:

[2018-10-22 18:41] markstory commented on #182
I manually refreshed packagist.org. 😀  I'm trying to get packagist to replace the webhook with the new one, but its not playing nice so far.

[2018-10-29 06:18] mfn opened #183 "Please add a Changelog.md or similar"
It would be nice to have the changelog part of the sources.

When receiving an update via composer, only the actual source files are changed but there's no included description as to why.

The releases on github https://github.com/cakephp/chronos/releases do get proper description, so I think it would great if you would just include them here, too.

Thanks!

[2018-10-30 13:10] ravage84 commented on #183
If we add a change log file, please let's adhere to https://keepachangelog.com/en/1.0.0/

[2018-10-30 13:23] dereuromark commented on #183
A changelog is a bit too static.
Whats wrong with the releases and the changelogs listed in there?
Sure, could be improved a bit more (also in verbosity), but then sure sufficient?

[2018-10-30 13:36] dereuromark commented on #183
Not true.
https://github.com/cakephp/cakephp/releases/tag/3.6.12
All tagged releases can also contain a clean and easy link to the commit log (Changelog us the link here).
That should suffice, pragmatically approaching this.

[2018-10-30 14:02] colinodell commented on #183
I think that's a different repository?  The [releases for Chronos](https://github.com/cakephp/chronos/releases) does not have links to the diffs, nor does it (consistently) have things broken down by the type of change.

[2018-10-30 14:05] dereuromark commented on #183
Yeah, I am saying it is possible.
The release changelogs here were indeed a bit too rushed and of not so high quality.
Bear in mind that people do all that in their free time, without getting paid for it either.
So we need to find a pragmatic way to automatically do that, and enrich the release changelogs here with sufficient data.

[2018-10-30 14:09] ravage84 commented on #183
Well, I would agree to some extend if you mean "too much additional maintenance work" by "not feasible ", but it is certainly feasible to add a static change log file to a repo. Many project/libraries do so.

[2018-10-30 14:16] dereuromark commented on #183
Then you have additional merge conflicts and other issues over time here on meta level.
There is no benefit here for static files, if the process would be correct and properly done already on github release note level. And the github way would be 10x simpler and more feasable to manage over time. Also to fully and properly automate.

[2018-10-30 14:18] colinodell commented on #183
If it helps, here's the process we're using in `league/commonmark` and other PHP League projects:

We maintain `CHANGELOG.md` as our primary changelog: https://github.com/thephpleague/commonmark/blob/master/CHANGELOG.md  It follows the Keep A Changelog principles.  Sometimes a maintainer will update it after each PR is merged, but most times we're lazy and only update it right before a release.

B

[2018-10-30 14:23] colinodell commented on #183
Only have maintainers update this file, just like maintainers only create releases.

The benefit is that the changes are available within the release archive.  No need to fire up the browser, navigate to Github, and look up the changes there.  (Github may be down, the developer may be working offline, etc.)  It makes the DX a little nicer in some cases.

There are some projects out there which can

[2018-10-30 14:53] ravage84 commented on #183
@dereuromark

I think this is not true (as @colinodell pointed out) but a oversimplification. Nonethless, I agree with your other statements.

Thank you @colinodell and @mfn for voicing your concerns and ideas.

I'm going to close this now as we are currently discussing this issue iternally in the core dev team.

[2018-10-30 14:53] #183 closed

[2019-02-06 21:21] odan commented on #164
Today I've had the same issue with Xdebug. Xdebug make use of the magic `__debugInfo()` method to fetch the object details. Depending on the line you set an Xdebug breakpoint the `__debugInfo` method is getting called, even before the `Chronos` object is fully initialized by the constructor.

Setting the Xdebug breakpoint here will trigger `__debugInfo()`, even before the Chronos constructor is fi

[2019-02-06 21:48] markstory commented on #164
The proposed changes seem reasonable to me.

[2019-02-06 21:56] dereuromark commented on #164
why not null instead of empty string? otherwise I would also agree here.

[2019-02-06 22:20] odan commented on #164
With `null`, it would work too. It don't has to be an empty string.

[code]

[2019-02-07 08:22] odan commented on #164
PS: The [Cake\I18n\DateFormatTrait.php](https://github.com/cakephp/cakephp/blob/master/src/I18n/DateFormatTrait.php#L436) class needs this fix too:

[code]

[2019-02-07 10:53] garas commented on #164
As properties do not exist yet, it should return only `['hasFixedNow' => ...]`

[2019-02-07 12:26] odan commented on #164
I agree and updated the fixes.

[2019-02-07 14:57] markstory commented on #164
@odan Sounds like you have a lot of context and interest in fixing this problem, would you be willing to send a pull request for these changes?

[2019-02-07 20:53] odan commented on #164
@markstory Ok I will try it :-)

[2019-02-10 13:50] dereuromark commented on #164
PR open: https://github.com/cakephp/chronos/pull/188

[2019-02-10 13:50] #164 closed

[2019-03-06 13:58] wouterj commented on #76
How is this a bug? If you have a period of 12 hours and start at 00:00, it is expected to have 12:00 next, followed by 00:00, followed by 12:00, right? PHP's DateTime behaves exactly the same: https://3v4l.org/Om7v2

[2019-03-06 14:31] nyamsprod commented on #76
@wouterj it is a bug because as stated in the documentation https://book.cakephp.org/3.0/en/chronos.html#date-objects  the `Date` object strips the time part so it should not be possible to have an instance with time part which is different from `00:00:00.000000`

[2019-04-16 09:26] teunkoster opened #191 "maxValue and minValue do not work when timezone is not UTC"
When the timezone is set to anything but UTC, the `maxValue()` and `minValue()` functions will not work correctly (`maxValue()` overflows for any UTC+* timezone, and `minValue()` underflows for any UTC-* timezone).

steps to reproduce:

The following code:

[code]

will output:

[code]

[2019-04-23 01:37] #191 closed

[2019-06-03 02:26] othercorey opened #199 "No link to api docs from main documentation"
The main documentation has a header that points to the main cake php api/book documentation and not the chronos api documentation.

https://book.cakephp.org/chronos/1.x/en/

You have to open the github readme page to find the link to the api docs.  I think adding it to the side-bar in contents.rst probably makes sense, but I don't know what you intended.

[2019-06-03 14:57] markstory commented on #199
Having a link from the docs to the API seems like a good idea to me.

[2019-06-03 15:14] saeideng commented on #199
also could be useful to rename `api` to `core api` or something like this in header
PR open ,so closing

[2019-06-03 15:14] #199 closed

[2019-06-04 08:15] dereuromark opened #201 "BC break after patch"
https://github.com/cakephp/chronos/pull/198 broke BC on some parts

See https://github.com/cakephp/chronos/commit/5af476617f8a2919a829b92df4f8c3c62e23f4c5

	var_dump(\Cake\Chronos\Chronos::parse('8:00:00')->toTimeString());
	var_dump(\Cake\Chronos\Chronos::parse('8:00:00', 'Etc/UTC')->toTimeString());
	var_dump(\Cake\Chronos\Chronos::parse('08:00:00')->toTimeString());
	var_dump(\Cake\Chronos\Chro

[2019-06-06 02:15] #201 closed

[2019-06-16 05:54] joshbmarshall opened #203 "Further BC issue after #202"
There's an issue with timezones when parsing a time by itself. Introduced by #198 and partially fixed.
For example I add to the TestingAidsTest.php file the following test, it fails:

	public function testParseRelativeWithTimezoneAndTestValueSet($class) {
		$notNow = $class::parse('2013-07-01 12:00:00', 'America/New_York');
		$class::setTestNow($notNow);

		$this->assertSame('06:30:00', $class::pa

[2019-06-16 18:49] markstory commented on #203
I'm not sure this problem is related to the changes in #198 as the provided tests fail on a different line even without the changes in #198. I do agree that the the provided tests should pass though.

[2019-06-16 19:01] markstory commented on #203
Pull request up now.

[2019-06-16 19:01] #203 closed

[2019-06-17 00:29] joshbmarshall commented on #203
Hi @markstory I have commented on your pull request it causes another issue.
The problem with time parsing has come from #198 and has caused other issues with further tests along the track. It's likely the time detection should be in a separate function. Now I see how you have done it perhaps I can create a pull request?

[2019-07-25 12:26] ADmad commented on #102
There's [CarbonInterva](https://carbon.nesbot.com/docs/#api-interval). So anyone interested could add similar class in Chronos based on that.

[2019-07-31 23:38] ravage84 commented on #102
Any thoughts on interoparabiity with Carbon, @kylekatarnls?

[2019-08-01 10:29] kylekatarnls commented on #102
Hi @ravage84! Thanks for the ping on this. Be aware Carbon evolved a lot since the Chronos apparition. Among other it can output duration, dates and relative times in 281 different languages and parse translated strings. It has tools for timezones (a dedicated CarbonTimeZone class), intervals and periods.

You could also take a look at [business-time](https://github.com/kylekatarnls/business-time)

[2019-08-14 09:54] davispuh commented on #149
The problem with `Date` is that it doesn't have any particular timezone, but it should have it. There can be a day difference due to timezones. For example comparing `Date` from `PDT` and `Date` from `AEST`.
So that above is same as `Date::today(new DateTimeZone('UTC'))` which obviously won't match `Chronos($tz)` because `Date` always ignores `tz`.

Currently using `Date` with different timezones

[2019-08-14 23:37] markstory commented on #149
If you need dates in timezones the Date class in this package is not going to work. It is intended to represent a calendar day. Much like the date column type in Mysql or postgres. You might be better served by using timezone aware datetime objects.

[2019-08-15 13:51] davispuh commented on #149
It would be good if it knew about timezones, without them it's not that useful. Like I want to work with calendar dates but location is important. If I use Chronos/DateTime then I don't get Date feature with time always being 00:00

[2019-08-16 14:20] markstory commented on #149
I'm still not sure that timezones on calendar dates are a simple. For example, 10:00 EDT == 17:00 in Turkey (Same day). However, 15:00 EDT is 2:00 Turkey (different days). Without a time component calendar days cannot move between timezones accurately.

[2019-10-18 03:14] othercorey commented on #149
I am wondering if `Date` should even have `today()` and 'tomorrow()` and even 'now()` factory methods.

The `Date` documentation does not state that it is an UTC DateTime object.  Instead it states that it represents a calendar date.  That shouldn't mean it is a "calendar date in utc".

[2019-10-18 22:50] othercorey commented on #165
Is there anything left to do on this?

[2019-10-21 07:17] votemike commented on #165
I have just tested version 1.2.8 and the rollover still happens.

[2019-10-21 07:34] ADmad commented on #165
Guys this is an issue, not a pull request. So nothing has actually changed :slightly_smiling_face:.

[2019-10-21 07:35] ADmad commented on #165
PR #172 does mention it *could* fix this issue but I guess that's not the case.

[2019-10-21 07:44] othercorey commented on #165
@ADmad I'm aware it's an issue.  That's why I was asking why it was still open if #172 handles the roll-over.

@votemike You are saying it is still **working** correct?

[2019-10-21 07:48] votemike commented on #165
No. #172 does not fix the problem.
My request remains open/valid/unfixed.

[2019-10-21 07:53] othercorey commented on #165
Thanks for the clarification. I misunderstood the merged pull request then.

[2019-11-01 20:32] othercorey commented on #135
Sorry for pinging an old thread, but since it is still open is there a 2 sentence summary of what the behavior is and if/why it is correct?

[2019-11-01 20:47] Ovsyanka commented on #135
Here it is: https://github.com/cakephp/chronos/issues/135#issuecomment-357763047

All changes related to this issue are reverted.

[2019-11-01 22:23] othercorey commented on #135
@Ovsyanka Thanks!  Chronos behavior is following php's behavior which sounds good for now.

[2019-11-02 04:05] othercorey opened #220 "FactoryTrait::create() and createFromTime() missing microseconds"
These interfaces seem to be missing microsecond parameters.

I assume there will be backwards compatibility issues, but this seems like a strange omission.

Since $tz has no type, it could accept the microsecond value, but it will hit a runtime failure instead of silently converting/ignoring.

The type hints in 2.x should ensue any internal code is using it right.

[code]

[2019-11-03 00:50] othercorey opened #223 "2.x - ChronosInterval doesn't support fractional/microseconds"
PHP 7.1 added some support for fractional seconds in `DateInterval`.

https://www.php.net/manual/en/class.dateinterval.php

They added a `$f` property which stores microseconds as a decimal fraction.  So if the interval is 2.5 seconds then `$s` is `2` and `$f` is `0.5`.  This is populated when an interval is created from diffing two DateTime instances.

However, DateInterval's constructor does not

[2019-11-03 18:01] markstory commented on #223
Exposing the `f` property as a fractional using and `microseconds` as an integer seems reasonable to me. It lets us be compatible with PHP's DateInterval and also improve the interface with our extensions.

[2019-11-06 00:14] markstory commented on #220
You could count the number of arguments and argument types to determine whether or not you have a timezone or a microsecond. The timezone should be a string or a `DateTimeZone` while microseconds should be an integer.

[2019-11-08 05:26] #223 closed

[2019-11-12 18:12] dereuromark commented on #220
PR open

[2019-11-12 18:12] #220 closed

[2019-11-14 03:34] othercorey commented on #151
Do we expect users to typehint with ChronosInterface for both Date and Chronos objects?

[2019-11-14 08:53] votemike commented on #151
I think users should be able to do what they like.

[2019-11-16 06:14] othercorey commented on #77
Would the solution here here be to throw an exception when a non-Date compatible part of DateTimeImmutable is used instead of suppressing the result?

This code below feels invalid and undefined behavior.
[code]

[2019-11-16 06:16] othercorey commented on #149
This now works the same.  The default time zone is used unless a time zone is specified.

[2019-11-16 06:16] #149 closed

[2019-11-16 08:44] nyamsprod commented on #77
@othercorey the code is perfectly fine and valid according to DatimeImmutable documentation 😉. And afaik, for interoperability that's what matters otherwise there's no need to make Date extending the PHP class.

[2019-11-16 10:02] othercorey commented on #77
It goes against stated Date documentation though that Date is re-interpreted as a calendar date.

[2019-11-16 10:06] nyamsprod commented on #77
@othercorey then Date should not extends DateTime/Immutable and I would fully agree with you

[2019-11-16 10:13] othercorey commented on #77
Regardless of how it is implemented.  That is simply how Date works.  If we changed Date to not extend DateTime, then this wouldn't generated valid Period's either.  I don't think that use case would be supported.

[2019-11-16 10:19] othercorey commented on #77
Closing as this really isn't going to change with the current Date implementation.  If Date is changed to be free-standing then this also goes away without a special API to generate periods.

[2019-11-16 10:19] #77 closed

[2019-11-16 10:20] #135 closed

[2019-11-16 10:21] #76 closed

[2019-11-16 10:31] #29 closed

[2019-11-16 23:49] othercorey commented on #89
PHP also considers Monday as the start of week now.

https://www.php.net/manual/en/datetime.formats.relative.php

[2019-11-17 20:24] #89 closed

[2019-11-17 20:43] othercorey commented on #94
[code]

I don't think this would give the user what they want either.  This would result in 2019-01-31 and 2019-02-01 showing 1 month difference.

[2019-11-17 20:44] #150 closed

[2019-11-17 21:00] #94 closed

[2019-11-23 03:10] #152 closed

[2019-11-27 18:59] #84 closed

[2019-11-30 02:06] #176 closed

[2019-12-11 06:21] othercorey opened #238 "API docs are not generating classes"
https://api.cakephp.org/chronos/1.1/

There are two issues:

- `master` branch is being generated as 1.1 instead of separate 1.1, 1.2 and 1.3 versions
- None of public classes are being generated, only test classes

[2019-12-12 16:15] #238 closed

[2020-01-29 14:36] B-Galati opened #242 "Static methods in interface"
Hello,

Is it really useful to have static methods in `ChronosInterface` as we never call static methods with an interface but with an implementation?

Am I missing something?

[2020-01-29 15:20] ADmad commented on #242
You don't call any methods an interface. Interfaces define the contract the classes need to implement.

[2020-01-29 15:20] #242 closed

[2020-02-23 11:26] alekitto opened #249 "Warning raised if PHP 7.4 preloading is enabled"
Hi and thank you for your work on this library.

I've tried to enable PHP 7.4 preloading feature on one of my projects, everything is working, but the logs are reporting a warning stating that the aliases defined in `carbon_compat.php` are already in use.

This is mainly because that file is blindly included by composer autoload script while preloading classes and in the request entrypoint.

PS: I

[2020-02-25 22:41] markstory commented on #249
How do you suggest we work around these warnings to increase compatibility with preloading? I have not use preloading before.

[2020-02-26 10:58] alekitto commented on #249
I've opened a PR with a possible work around

[2020-02-26 15:34] watermark opened #252 "Timezone not honored on Date::now or MutableDate::now"
# Issue
The timezone parameter is not honored for FactoryTrait function implementations of Date or MutableDate.

# Expectation
Date::now("America/New_York") always gives the current date of the UTC timezone.  Expectation is that it would give the current date of the given timezone.

The timezone parameter is properly honored on all methods in the FactoryTrait for all classes that use that trait.

[2020-02-26 17:21] othercorey commented on #252
What version of Chronos are you using?

[2020-02-26 20:24] #249 closed

[2020-02-26 23:12] watermark commented on #252
1.3.0.  I thought I was on the latest version, but am only on the latest 1.x release.  I see that 2.0 release notes claims to fix the above issue.  I'll close the issue.  Sorry and thanks.

[2020-02-26 23:12] #252 closed

[2020-03-19 23:32] chinpei215 opened #253 "Date::diffInMonths returns unexpected result in Asia/Tokyo"
(This issue was originally reported by **kaasan** in Japanese Slack channel)

### What you did

[code]

### What happened

[code]

### What you expected to happen

[code]

This is not a bug of Chronos actually. I don't know why, but the built-in DateTime/DateTimeImmutable doesn't work correctly either:

[code]

However, as of Chronos 2.x, the timezone of Date will be always fixed to server timezon

[2020-03-20 02:00] markstory commented on #253
Does this time range cross the DST boundary for Tokyo? If so you might be an hour short of four months.

[2020-03-20 05:00] chinpei215 commented on #253
No. DST is not adopted in Japan. In addition, it happens even in winter season. For example:
[code]

It seems like the timezone offset (+09:00 in Japan) is ignored in the diff method.
[code]

[2020-03-31 08:00] impronta48 opened #254 "createFromFormat($format, $value) too strict"
I very often have this problem when I marshall my data.

If the datetime string is missing some elements (eg: seconds), the result of the createFromFormat is invalid.

I'd expect a behaviour similar to the original PHP https://www.php.net/manual/en/datetime.createfromformat.php

Where the missing values would be taken from the current timestamp or from unix epoch.

Here is my example
$format= "Y-m

[2020-03-31 08:13] ADmad commented on #254
Using `DateTime::createFromFormat()` for your example values also fails https://3v4l.org/0hrYi.

[2020-03-31 08:19] ADmad commented on #254
`Chronos::createFromFormat()` simply calls the parent method `DateTimeImmutable::createFromFormat()`. Only additional thing it does if throw exception if object creation fails.

I highly doubt anyone would be interested in providing a more fault tolerant implementation of `createFromFormat()`.

[2020-03-31 08:23] #254 closed

[2020-04-06 01:24] othercorey commented on #253
I submitted a bug report. Hopefully, we get an answer on how diff() is calculated for different time zones.

https://bugs.php.net/bug.php?id=79452

[2020-04-06 14:30] othercorey commented on #253
From the php ticket, diff() converts the DateTime objects to UTC before comparing.

This means any time zone change that causes a date change can affect the month calculation. Waiting to see if there is more discussion, but the only solution might be to "fake" the date in UTC before calling diff() to get a consistent result.

[2020-04-12 18:49] yarkm13 opened #255 "MutableDateTime serialization cause "Unknown setter 'date'""
I have found it was asked multiple times before and seems marked as fixed but I run into that error `Unknown setter 'date'` today.

It happens while trying to serialize closure where CakePHP Table is used.

Last lines of stack trace called from `default:` tread of `__set()` of  `Cake\Chronos\MutableDateTime`

[code]

cakephp: "4.0.5"
PHP 7.3.8
cakephp/chronos 2.0.3
opis/closure 3.5.1

Is it kind o

[2020-04-13 02:54] othercorey commented on #255
Trying to serialize/deserialize internal PHP DateTime properties isn't supported. Those properties were removed in PHP 7.4.

[2020-04-13 22:31] #255 closed

[2020-04-16 15:27] aleksiIvakhnenko opened #256 "requires cakephp/chronos 2.x-dev as 2.0.0"
I tried to update cakephp from 3.x to 4.x according documentation:
`composer.phar require --update-with-dependencies "cakephp/cakephp:4.0.*"`.
But got  the following:
[code]
Is there a branch cakephp/chronos `2.x-dev`?

[2020-04-17 06:22] #256 closed

[2020-05-22 02:46] Tietew opened #262 "Cake\Chronos\Date::parse("YYYYMMDD") throws unexpected TypeError"
I encountered this issue when trying to parse Ymd-style date string such as "20200522".

Chronos version: 2.0.4
PHP version: 7.4.6

## How to reproduce
[code]

This caused by missing cast in `FrozenTimeTrait->stripTime()`.

## Suggestions

I have some suggestions. Which is best?

### 1. Remove `ctype_digit` check

I need this behavior.
Because PHP's native `DateTime`, `strtotime`, and Chronos's `C

[2020-05-23 05:48] markstory commented on #262
Option 3 seems like the best option to me. What is the 8 digit epoch format you mentioned?

[2020-05-23 09:43] othercorey commented on #262
We could look at requiring users to cast timestamps to integer.

The 8-digit timestamps cover a 3 year range from about 1970 to 1973.

[2020-05-26 01:27] #262 closed

[2020-09-29 08:30] MolbioUnige opened #277 "Date::create doesn't always returns the expected"
Hi,
Chronos doesn't seems to create correct February 1st dates.

[code]

Returns

[code]

[2020-09-29 08:40] othercorey commented on #277
If you use a day that doesn't exist in February, it will advance to the next month.

[2020-09-29 08:41] othercorey commented on #277
https://github.com/cakephp/chronos/blob/30baea51824076719921c6c2d720bfd6b49e6dca/src/Traits/ModifierTrait.php#L199

[2020-09-29 08:42] MolbioUnige commented on #277
Sure, but February 1st always exists, no?

[2020-09-29 08:44] othercorey commented on #277
`month()` uses the current day.

[2020-09-29 08:51] #277 closed

[2020-09-29 09:40] MolbioUnige commented on #277
Could you please tell me what
[code]
should return?

[2020-09-29 09:46] othercorey commented on #277
That depends what day create() returns.

[2020-09-29 09:56] MolbioUnige commented on #277
Sorry to be slow, in your opinion, should this below return true or false?
[code]

[2020-09-29 09:59] garas commented on #277
Intermediate instances always contain valid dates.

[code]

In your opinion, what should contain object after `month()` call?

You can create date object atomically with `Date::create(2001, 2, 1)`

[2020-09-29 10:00] MolbioUnige commented on #277
Now I get it, thank you very much 👍

[2020-11-13 12:57] dereuromark commented on #102
I also dont like that marshaling a time value of H:i:s it becomes a string with datetime

    11/3/2020 11:15AM

etc
If you directly echo the string, you have weird results. It always needs then special treatment of the value

Do we have a plan of attack on this yet? For 4.2 maybe?

[2020-11-19 22:34] dereuromark commented on #79
@nyamsprod Are you interested in making a PR with the suggested improvements?
That would be great.

[2021-01-16 14:35] othercorey commented on #253
Fixed in https://github.com/cakephp/chronos/pull/283

[2021-01-16 14:35] #253 closed

[2021-03-10 12:33] tokyo-walker opened #287 "Handling of the year before 1970"
If I get the year before 1970 years will add 100 years

[code]

Can't convert to the correct number of years?

[2021-03-10 14:14] othercorey commented on #287
What version of Chronos are you using?

Do you set a locale?

[2021-03-12 02:42] sasaki-yourmystar commented on #287
I use version `1.2.3`.
I don't set a locale.

[2021-03-12 02:43] tokyo-walker commented on #287
I use version `1.2.3`.
I don't set a locale.

[2021-03-13 02:08] markstory commented on #287
I'm not able to reproduce the results you're having in a test application I have locally.

[code]

[2021-03-13 11:22] garas commented on #287
Is your snippet complete, is these some additional step? There is double closing parenthesis.
[code]

Behavior to add 100 years to year before 70 exists when parsing two digits year like '69-01-01'.

[2021-03-22 06:23] tokyo-walker commented on #287
I'm sorry. It will be here correctly
[code]

Okay, I understand. I'll execute by four digits.

[2021-03-22 06:50] #287 closed

[2021-05-21 19:46] othercorey opened #293 "PHP 8.1: Cannot return ChronosInterface from DateTime methods"
PHP 8.1 introduces more return types for internal methods including DateTime. Chronos currently returns `ChronosInterface` from some overriden DateTime methods. This is not compatible with the declared return type of `DateTime` or `DateTimeImmutable` because `ChronosInterface` does not extend those classes.

[code]

The only known solution is to return `static` from these methods instead of `Chron

[2021-06-01 03:26] othercorey commented on #293
It's possible to suppress the deprecation with a `ReturnTypeWillChange` attribute.

[2021-06-16 11:55] othercorey commented on #293
Fixed in https://github.com/cakephp/chronos/pull/302

[2021-06-16 11:55] #293 closed

[2021-11-13 12:16] canvural opened #306 "`Class "Cake\Chronos\Chronos" not found` when doing composer update"
Hi,

This started to happen recently. I'm not directly using chronos, but I have Laravel Nova in my dependencies that is using chronos.

<details>
<summary>Full stack trace from `composer update -vvv`</summary>

[code]

</details>

This is happening at the `Generating optimized autoload files` stage of Composer.

I'm sorry I cannot give any reproducible case. But I'm hoping you have some ideas how

[2021-11-15 02:36] markstory commented on #306
Without a way to reproduce we won't be able to help much sorry :disappointed:

[2021-11-15 08:00] canvural commented on #306
@markstory ok I just tried again to reproduce, and it was easy 😄

- `composer create-project laravel/laravel:^8.0 chronosbug`
- `cd chronosbug`
- `composer require cakephp/chronos`

This `require` command will throw the mentioned error.

Hope this helps.

[2021-11-15 08:02] canvural commented on #306
Ah, now I just realized this only happens with the snapshot version of the Composer. Maybe I should open an issue there?

[2021-11-15 21:30] #306 closed, assigned to nobody

[2022-01-06 10:38] Bilge opened #307 "diffForHumans() gives misleading results for future dates"
Consider the following example of a future date two weeks ahead of today's date:

`echo Chronos::parse(new DateTime('2 weeks'))->diffForHumans();`

It seems to me the expected out put should be _two weeks_ from now.

Also consider that as the current time ticks forward, the diff should probably not flip from two weeks to one week, since this is not very granular output. That is, once the differenc

[2022-01-06 13:15] othercorey commented on #307
This is a different interval since now will still be at least 2 weeks away.

[2022-01-06 13:16] Bilge commented on #307
I'm not sure what you're saying. `-2 weeks` is two weeks ago as `+2 weeks` is two weeks ahead. This is demonstrably the case even just by using this software, given that:

`echo Chronos::parse(new DateTime('2 weeks 1 sec'))->diffForHumans();`

Ergo this is a boundary condition problem on the surface, but as I explained in my opening post, I believe the scale is also inappropriate.

[2022-01-06 14:53] markstory commented on #307
When do you think we should switch from days to weeks? I agree that after 1 week is probably too soon. Should we go to 30 days?

[2022-01-06 16:50] Bilge commented on #307
I haven't given it too much thought, but I cannot see any issue with your proposal.

[2022-01-06 23:42] othercorey commented on #307
A month seems reasonable.

[2022-01-07 00:04] Bilge commented on #307
It would be useful if the documentation for this method made it plain exactly where the boundaries are for each unit switch, as that seems to be where the art for this method really comes in. In order to please everyone, it may be necessary to create a method that accepts a custom boundary descriptor that allows the caller to specify exactly where the boundary changes occur. However, I also believ

[2022-01-07 00:08] othercorey commented on #307
It's just supposed to be a friendly description, but we can try to make it more useful sequences that reflect how most people view time periods.

[2022-01-07 15:11] markstory commented on #307
This sounds like a something users that need custom boundaries can build themselves. We can document the boundaries better and tweak the threshold for using weeks but there won't be an implementation that pleases everyone. :smile:

[2022-01-23 11:13] Bilge commented on #307
Any progress on this?

[2022-01-23 15:24] othercorey commented on #307
If you have a proposal, a PR is welcome.

[2022-05-30 11:52] odan opened #315 "Performance issue with the carbon_compat.php autoloader"
With performance measurements (Apache ab), I found out that once you add Chronos to any project using `composer require cakephp/chronos` the overall Composer autoloading performance decreases by up to 50%. This has a huge impact on the overall performance of the web application. So I checked where exactly it is so slow. The reason is the file "src/carbon_compat.php".

Specifically, those two lines

[2022-05-30 14:01] markstory commented on #315
Interesting that the additional `class_exists()` checks are so expensive. Usually those kinds of checks are low cost.
I wonder if using the `class_exists($class, false)` form would help with performance issues?

[2022-05-30 17:08] othercorey commented on #315
Can you show us the the performance numbers?

[2022-05-30 19:57] odan commented on #315
Here are some numbers.

Used commands per test:

[code]
System: PHP 8.0.1, XDebug is disabled

Requests per second [#/sec] (mean) - (More is better)

1. Empty index.php file:  **9697**
2. With `vendor/autoload.php`, and no dependencies in composer.json: **4564**

Note: I never expected that composer itself has such an impact.

3. composer.json with `"cakephp/chronos": "^2.3"` as single dependency:

[2022-05-30 20:08] othercorey commented on #315
Have you performed tests using composer with other dependencies (with and without chronos added)?

[2022-05-30 20:32] odan commented on #315
@othercorey Yes, I have also tested other packages. Here are some results.

Result is [requests/sec]. More is better.

* No dependencies: 4564 (maximum)
* `cakephp/database`: 2302
* `cakephp/validation`: 2519
* `symfony/console`: 1893 (also very slow)
* `symfony/uid`: 3265
* `fig/http-message-util`: 4256
* `monolog/monolog`: 3764
* `slim/slim`: 3368
* `stripe/stripe-php`: 3168

Combinations:

* `c

[2022-05-30 21:36] othercorey commented on #315
I'm not sure what the expectation here is other than composer should be as fast as not using composer.

[2022-05-31 07:56] odan commented on #315
Sorry, I guess my actual question was not clear.

I don't need the Carbon class alias, and it turns out that `class_alias` in `src/carbon_compat.php` slows down the composer autoloader around 5 to 10 ms per http request.

My question was, how can I turn off or disable the Carbon class alias to get more performance?

I suggest a simple check for a special constant may help here:

[code]

To disable

[2022-05-31 09:55] Maxime-Vacossin opened #316 "Chronos::create() not working for some months"
Hi !

We are using `"version": "1.2.2",` with CakePhp 3.6 and we are facing an issue with `Chronos::create()` method.

`Chronos::create()`is not working properly with February, April, June, September and November.
The created date have the wrong month number.

We test two methods `Chronos::create()` and `Chronos::createFromDate`

The test :
[code]

The result :
[code]

We know that 1.2.2 is an old

[2022-05-31 10:05] Maxime-Vacossin commented on #316
Update !

I've made the same test with cakephp/chronos 2.3 and we have the same result. Same error.

[2022-05-31 10:21] garas commented on #316
Use `Chronos::create($year, $month, $day)` or `Chronos::createFromDate($year, $month, $day)`.

Using `Chronos::create()->year($year)->month($month)->day($day)` can create invalid intermediate dates, which are fixed to next valid date:

[code]

[2022-05-31 11:16] Maxime-Vacossin commented on #316
Ok so .. This issue occur only 5 days in a year..

If I set the day first, no trouble ...
[code]

Issue closed.
Thanks @garas for your wisdom !

[2022-05-31 11:16] #316 closed, assigned to nobody

[2022-05-31 14:21] markstory commented on #315
You can't. Adding the stub class to prevent the `class_alias` calls is your best bet. You'll find other `class_alias` usage in CakePHP that can't be removed as easily though.

I guess that's an option. We'll likely remove the class_aliasing in a future major release. An additional constant would provide a short term solution though.

[2022-05-31 18:14] odan commented on #315
Ok, thanks for all your feedback and critical questions. I think I'll wait until this alias is completely removed in the future. Until then, I will probably be able to solve it with the class stub.

[2022-05-31 18:14] #315 closed, assigned to nobody

[2022-07-27 22:18] othercorey opened #318 "php 8.2: Unable to create DatePeriod with Chronos instance"
[code]

[2022-07-29 20:13] othercorey commented on #318
The change in php was reverted. This would have affected all 8.0+ versions.

[2022-07-29 20:13] #318 closed, assigned to nobody

[2022-08-16 10:01] andrii-pukhalevych opened #320 "DifferenceTrait update to use getDiffFormatter()"

[2022-08-16 10:52] ADmad commented on #320
How can one reproduce the issue you are having? Linking a 4 year old commit doesn't help much.

[2022-08-16 11:05] andrii-pukhalevych commented on #320
Just do `debug((new FrozenDate('yesterday'))->diffForHumans())`
It produces '1 day ago' even is custom locale is enabled.
Should be translated string instead

[2022-09-05 14:44] MGatner commented on #307
To the math-mobile! Here's our current distribution, "precision" being `(max - min) / max` as a way of quantifying "how accurate is our unit before it switches over to the next":

| Unit   | Range  | Precision |
| ------ | ------ | --------- |
| Year   | 365+   | inf       |
| Month  | 30-365 | 92        |
| Week   | 7-30   | 77        |
| Day    | 1-7    | 86        |
| Hour   | 1-24   | 96

[2022-09-05 15:41] markstory commented on #307
That seems like a better scale than what we have now.

[2022-09-05 16:01] MGatner commented on #151
I think this should be closed. The interface (for obvious reasons) doesn't have these properties so if an implementing class is accessing them the annotation needs to be on that class.

[2022-09-05 16:01] MGatner commented on #307
I'll work on a PR soon.

[2022-09-05 16:09] MGatner commented on #102
IMO this should be closed. The original request was introduced six years ago without an implementation, and the last activity was two years ago. Anyone could have taken a pass at this.

It's also not a clear parallel. `Date` is a desirable class because HMS are building blocks of a date (like ones, tens, hundreds are of thousands) and a Date cannot exist without those specs. Time (conceptually) ex

[2022-09-05 16:53] MGatner commented on #79
This one is a bit tricky, as the long discussion validates. Two points I think should be incorporated into any solution (these are insights that have come from time, not a criticism of where we all were in years past):

1. Large interfaces are a bad design and should be avoided

2. Using an interface solely for union typing is mostly a hack

I realize `DateTimeInterface` is basically PHP-sanctione

[2022-09-05 19:40] MGatner opened #325 "Drop PHP 7.2?"
How important is it to keep support for version 7.2 (https://www.php.net/supported-versions.php)? Without it we could commit fully to PHPUnit 9 and update the schema (https://github.com/cakephp/chronos/runs/8195027937?check_suite_focus=true#step:9:14).

7.1 to 7.2 was a block for some hosting services but 7.3 was pretty much all additions. It looks lie 7.2 installs is down to about 8% (https://pac

[2022-09-05 21:10] dereuromark commented on #325
7.3+ sounds fair now.

[2022-09-06 01:24] othercorey commented on #325
I don't know that it helps anything. We will move to PHP 8.1 or PHP 8.2 + with Chronos 3.

[2022-09-06 01:35] dereuromark commented on #325
Patch Release here helps LTS imo for those majors

[2022-09-06 09:53] MGatner commented on #325
I agree. The current version will be just as viable for 7.2 perpetually. Dropping an unsupported minor language version  in a minor release gives a smoother upgrade path. The alternative is forcing developers to make a major language version switch _and_ fix breaking changes from the library in one go.

[2022-09-06 10:27] dereuromark commented on #325
You could make a PR

[2022-09-06 14:15] othercorey commented on #325
This seems like a pointless change to me.

[2022-09-06 15:15] dereuromark commented on #325
If it is only about phpunit, then probably yes

[2022-09-06 17:32] #151 closed

[2022-09-06 20:05] MGatner commented on #325
I'm not a maintainer, totally up to you all. For my OSS packages I keep a tighter lower bound to encourage people to get off PHP versions that don't have security support. But I also don't have packages with 27 million downloads.

I think if you decide not to change versions that a roadmap would be helpful; this library would benefit greatly from a `>= 8.0` rework, which could correspond to some o

[2022-09-07 01:46] othercorey commented on #325
I appreciate that, but I think this is a case of looking too closely at the problem. We update the requirements as needed to support the project and when it's unmaintainable. This will happen soon enough.

A new release just to change the PHP version doesn't help us yet.

[2022-09-07 01:46] #325 closed, assigned to nobody

[2022-09-07 06:51] ADmad commented on #79
Most likely in the next major we are only going to keep the immutable classes and drop the mutable ones, which should simply things a bit.

[2022-09-07 10:10] MGatner commented on #79
I think that is a good plan. Is this planned work? Or tied to Cake v5? Or something contributors could help with now?

[2022-09-07 11:16] ADmad commented on #79
This is a separate lib so not really, we were just hoping to get it done in time for Cake 5.

Yes contributor help is most welcome.

[2022-10-22 13:31] ADmad opened #331 "Drop src/carbon_compat.php"
Given that the Carbon project is ~~alive~~ undead again I don't think the aliasing is required.

[2022-10-22 20:01] othercorey commented on #331
I think users will have to port after this anyway since we won't have the same ABI.

[2022-10-23 02:35] markstory commented on #331
Yeah, lets do it. With carbon being maintained again folks who want to use carbon can do that instead if they'd prefer the API. I think this is also an opportune time for us to revisit the width of the API we expose in chronos. Do we really need *all* the formatting methods? Are there are a few we should keep and simplify the API by removing the rest?

[2022-10-23 02:38] #307 closed, assigned to nobody

[2022-10-23 04:43] ADmad commented on #331
Indeed, the current API is huge, we should look into trimming it down.

[2022-10-23 10:33] othercorey commented on #331
closed in https://github.com/cakephp/chronos/pull/332

[2022-10-23 10:33] #331 closed, assigned to nobody

[2022-10-24 15:45] ADmad opened #335 "Trim down the ChronosInterface's API"
Currently `ChronosInterface` has a pretty large API surface.

Multiple methods have both singular and plural form. With IDE autocompletion these days no one needs to remember whether the singular or plural form needs to be used. So all singular forms can be dropped.

- `add/subYear()`
- `add/subYearWithOverflow()`
- `add/subYearWithoutOverflow()`
- `add/subMonth()`
- `add/subMonthWithOverflow()`
-

[2022-10-25 01:08] othercorey commented on #335
Removing the singular API seems straight forward.

[2022-10-25 01:54] markstory commented on #335
I agree with @othercorey. These are safe removes that help reduce API bloat.

We should pick a side. My bias is to use the longer names so that we don't have short-form soup for an API.

[2022-10-26 03:33] othercorey commented on #335
The short names were the original API  and the long names were added a couple years ago. I don't want to remove `equals()` in favor of `eq()` though.

[2022-10-26 05:04] ADmad commented on #335
Seems the general consensus is in favor of keeping the long names. So I'll make a PR dropping the short ones.

[2022-10-27 16:38] ADmad commented on #335
I would also like to drop the over a dozen `to{X}String()` methods. We can keep just `__toString()` and for other format users can use `format()`.

[2022-11-01 02:36] markstory commented on #335
Could we keep the toXString method that do commonly used formats like ISO-8601?

[2022-11-04 17:31] ADmad commented on #335
I don't want to be the judge of which ones are commonly used and which ones aren't :slightly_smiling_face:. I am gonna leave them as they are.

[2022-11-22 08:40] othercorey commented on #79
Will be dropped in 3.x.

[2022-11-22 08:40] #79 closed

[2022-11-26 02:41] othercorey commented on #335
Going to close because the proposed changes were made.

[2022-11-26 02:41] #335 closed, assigned to nobody